---
layout: default
title: "We're Hiring! - Grove Technologies is hiring"
type: LocalBusiness
description: "Grove Technologies is one of the fastest growing Mac Support agencies in DC and we are looking for fun and creative individuals who want to help us take our agency to the next level. Sound like fun? Then Apply here!" 
keywords: "mac support dc, careers, it jobs, about grove technologies, grove technologies apple, creative services, mac support experts, mac support near me, apple customer service, managed service provider, mac computers, it services, managed it services, helpdesk support, mac dc, new apple computer, mac support"
thumbnail: /assets/img/banner/careers.png
image: /assets/img/banner/careers.png
author: Jon Brown
ogtype: page
---
    <!-- WELCOME
    ================================================== -->
    <section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax mt-10" style="background-image: url({{ site.site_cdn }}/assets/img/covers/cover-11.jpg);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Heading -->
            <h1 class="display-2 text-white">
              Want to work <br>with us?
            </h1>

            <!-- Text -->
            <p class="lead text-white-75 mb-6">
              We're always looking to hire talented folks to join our ever-growing team of Mac Experts, Support Engineers, and Network Professionals.
            </p>

            <!-- Button -->
            <a href="#open" class="btn btn-primary lift">
              View open positions <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    
      <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- VALUES
    ================================================== -->
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-6">
            
            <!-- Badge -->
            <span class="badge bg-primary-desat-soft rounded-pill mb-3">
              <span class="h6 text-uppercase">
                Values
              </span>
            </span>

            <!-- Heading -->
            <h2>
              We care about everyone, <br>
              <span class="text-primary-desat">but employees are first</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-6">No matter your job title or department, if you're a member of our team you are our top priority. We care deeply about everyone who works with us. </p>
            <p class="font-size-lg text-muted mb-6 mb-md-0">Grove Technologies observes all <a href="https://www.federalpay.org/holidays" rel="nofollow">US federal holidays</a>, <a href="https://en.wikipedia.org/wiki/Native_American_Heritage_Day" rel="nofollow">Native American Heritage Day</a>(Friday after Thanksgiving), <a href="https://www.juneteenth.com/history.htm" rel="nofollow">Juneteenth</a>, and <a href="https://www.smithsonianmag.com/blogs/national-museum-american-indian/2019/10/11/indigenous-peoples-day-2019/" rel="nofollow">Indigenous Peoples Day</a> as paid holidays.</p>
            

          </div>
          <div class="col-12 col-md-6 col-xl-5">

            <div class="row gx-0">
              <div class="col-4">
                
                <!-- Image -->
                <div class="w-150 mt-9 p-1 bg-white shadow-lg">
                  <img src="{{ site.site_cdn }}/assets/img/photos/emp1.png" class="img-fluid" alt="Grove Technologies at Work">
                </div>

              </div>
              <div class="col-4">
                
                <!-- Image -->
                <div class="w-150 p-1 bg-white shadow-lg">
                  <img src="{{ site.site_cdn }}/assets/img/photos/emp4.png" class="img-fluid" alt="Grove Technologies at Work">
                </div>

              </div>
              <div class="col-4 position-relative">
                
                <!-- Image -->
                <div class="w-150 mt-11 float-end p-1 bg-white shadow-lg">
                  <img src="{{ site.site_cdn }}/assets/img/photos/emp3.png" class="img-fluid" alt="Grove Technologies at Work">
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- BENEFITS
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-5 order-md-2">
            
            <!-- Badge -->
            <span class="badge bg-success-soft rounded-pill mb-3">
              <span class="h6 text-uppercase">
                Healthcare
              </span>
            </span>

            <!-- Heading -->
            <h2>
              We'll take of you with <br>
              <span class="text-success">a great healthcare package</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-0">
              Grove Technologies offers fully-covered health/dental/vision benefits that are significantly more comprehensive than industry average. Employees can also extend their insurance benefits to spouse and dependent children. "Spouse" includes partners through marriage, civil union, or registered domestic partnerships.
            </p>

    
            
            <br><br>
            
            <!-- Badge -->
            <span class="badge bg-success-soft rounded-pill mb-3">
              <span class="h6 text-uppercase">
                Life & Disability Insurance
              </span>
            </span>

            <!-- Heading -->
            <h2 style="mt-10">
              100% Paid Life <br>Insurance Policy.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-0">
              Grove Technologies covers short-term and long-term disability in the event of any potential medical leaves. Life insurance coverage is basic with the option for employees to add on additional voluntary coverage for themselves, a spouse, and children.
            </p>
            
            
            <br><br>
            

            
            <!-- Badge -->
            <span class="badge bg-primary-desat-soft rounded-pill mb-3">
              <span class="h6 text-uppercase">
                401K Benefits
              </span>
            </span>

            <!-- Heading -->
            <h2>
              401k with Employer Matching
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-6">Grove Technologies offers a 401k with employer matching through <a href="https://www.guideline.com/" rel="nofollow">Guideline</a>. Grove Technologies matches 100% of the first 3% contributed, and 50% of the next 2% (for a max employer contribution of 4%).</p>
            
            
          </div>
          <div class="col-12 col-md-6 order-md-1">
            
            <!-- Card -->
            <div class="card card-border border-success shadow-lg">
              <div class="card-body">
                
                <!-- List group -->
                <div class="list-group list-group-flush">
                  <div class="list-group-item d-flex align-items-center">
                    
                    <!-- Text -->
                    <div class="me-auto">
                      
                      <!-- Heading -->
                      <p class="fw-bold mb-1">
                        Comprehensive benefits
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        401K & College Savings Plans. Stipend for meals, gym memberships, and more.
                      </p>

                    </div>
                      
                    <!-- Check -->
                    <div class="badge badge-rounded-circle bg-success-soft ms-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  <div class="list-group-item d-flex align-items-center">
                      
                    <!-- Text -->                
                    <div class="me-auto">
                      
                      <!-- Heading -->
                      <p class="fw-bold mb-1">
                        Paid time off
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        2 Weeks Paid Time off + 10 Holidays.
                      </p>

                    </div>
                      
                    <!-- Check -->
                    <div class="badge badge-rounded-circle bg-success-soft ms-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  <div class="list-group-item d-flex align-items-center">
                      
                    <!-- Text -->
                    <div class="me-auto">
                      
                      <!-- Heading -->
                      <p class="fw-bold mb-1">
                        Cutting edge hardware
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        We provide brand new Apple computers and accessories.
                      </p>

                    </div>
                      
                    <!-- Check -->
                    <div class="badge badge-rounded-circle bg-success-soft ms-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                  <div class="list-group-item d-flex align-items-center">
                      
                    <!-- Text -->
                    <div class="me-auto">
                      
                      <!-- Heading -->
                      <p class="fw-bold mb-1">
                        Health Benefits
                      </p>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        Medical, Vision, Dental Coverage with comprehensive Life Insurance.
                      </p>

                    </div>
                      
                    <!-- Check -->
                    <div class="badge badge-rounded-circle bg-success-soft ms-4">
                      <i class="fe fe-check"></i>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            
            <br><br>
            
            <!-- Badge -->
            <span class="badge bg-primary-desat-soft rounded-pill mb-3">
              <span class="h6 text-uppercase">
                Bonus Benefits
              </span>
            </span>

            <!-- Heading -->
            <h2>
              Vacation & Perks at Grove Technologies.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6 mb-md-6">We set a minimum expected vacation. Our expectation is that everyone (including founders and early hires) will take a minimum of 2 weeks (10 days) vacation per year. If you have taken less than two weeks of vacation in a calendar year, expect your manager to talk to you about it.</p>
            <p class="font-size-lg text-muted mb-6 mb-md-0">Every employee has a generous budget to give out in bonuses to their colleagues. You can redeem your earnings for gift cards, cash, and charitable donations, and we're always excited about suggestions for new rewards to add to our catalog!</p>
            

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


{% include benefits.html %}


<a id="open">

    <!-- APPLYING
    ================================================== -->
    <section class="pt-6 pt-md-8 bg-light">
      <div class="container pb-8 pb-md-11">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">Applying</span>
            </span>

            <!-- Heading -->
            <h2>
              Let’s find you an <span class="text-primary">open position</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
              Find the right job for you no matter what it is that you do.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
           

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center mb-5">
          <div class="col">
            
            <!-- Heading -->
            <h4 class="fw-bold mb-1">
              vCISO and vCTO Roles
            </h4>

            <!-- Text -->
            <p class="font-size-sm text-muted mb-0">
              Providing Cybersecurity services to our small to mid-sized clients.
            </p>

          </div>
          <div class="col-auto">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-success-soft d-none d-lg-block">
              <span class="h6 text-uppercase">no openings</span>
            </span>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Table -->
            <div class="table-responsive mb-7 mb-md-9 rounded">
              <table class="table table-align-middle">
               <thead>
                  <tr>
                    <th>
                      <span class="h6 text-uppercase fw-bold">
                        Role
                      </span>
                    </th>
                    <th class="d-none d-lg-table-cell">
                      <span class="h6 text-uppercase fw-bold">
                        Team
                      </span>
                    </th>
                    <th class="d-none d-lg-table-cell">
                      <span class="h6 text-uppercase fw-bold">
                        Location
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
<!-- 
                  <td colspan="3" class="text-center text-muted text-uppercase"> No Positions At This Time </td>
                  </tr>
 -->
                    <td>
                      
                      <a href="/careers/ciso/" class="text-reset text-decoration-none">
                        <p class="mb-1">
                          Part Time CISO / CTO
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Responsible for providing top notch cybersecurity services to our clients.
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Cyber
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Remote / D.C.
                        </p>
                      </a>

                    </td> 
                  </tr>
                  <!-- 
<tr>
                   <td>
                      
                      <a href="/careers/ethical-hacker/" class="text-reset text-decoration-none">
                        <p class="mb-1">
                          Contract Ethical Hacker
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Responsible for providing penetration testing services.
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Cyber
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Remote / D.C.
                        </p>
                      </a>

                    </td>
                  </tr>
 -->
                </tbody>
              </table>
            </div>

          </div>
        </div> <!-- / .row -->
        
        
        <div class="row align-items-center mb-5">
          <div class="col">
            
            <!-- Heading -->
            <h4 class="fw-bold mb-1">
              Client Success & Project Management
            </h4>

            <!-- Text -->
            <p class="font-size-sm text-muted mb-0">
              Client experience with our core services are top priorities at Grove.
            </p>

          </div>
          <div class="col-auto">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-success-soft d-none d-lg-block">
              <span class="h6 text-uppercase">no openings</span>
            </span>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Table -->
            <div class="table-responsive mb-7 mb-md-9 rounded">
              <table class="table table-align-middle">
               <thead>
                  <tr>
                    <th>
                      <span class="h6 text-uppercase fw-bold">
                        Role
                      </span>
                    </th>
                    <th class="d-none d-lg-table-cell">
                      <span class="h6 text-uppercase fw-bold">
                        Team
                      </span>
                    </th>
                    <th class="d-none d-lg-table-cell">
                      <span class="h6 text-uppercase fw-bold">
                        Location
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <td colspan="3" class="text-center text-muted text-uppercase"> No Positions At This Time </td>
                    <!-- <td>
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="mb-1">
                          Client Success / Project Manager
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Responsible for maintaining customer retention & executing customer projects.
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Client Success
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/client-success/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Washington D.C.
                        </p>
                      </a>

                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center mb-5">
          <div class="col">
            
            <!-- Heading -->
            <h4 class="fw-bold mb-1">
              Mac Support & Engineering
            </h4>

            <!-- Text -->
            <p class="font-size-sm text-muted mb-0">
              This is Grove's bread and butter – help us make it better.
            </p>

          </div>
          <div class="col-auto">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-success-soft d-none d-lg-block">
              <span class="h6 text-uppercase">2 Openings</span>
            </span>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Table -->
            <div class="table-responsive mb-5 rounded">
              <table class="table table-align-middle">
                <thead>
                  <tr>
                    <th>
                      <span class="h6 text-uppercase fw-bold">
                        Role
                      </span>
                    </th>
                    <th class="d-none d-lg-table-cell">
                      <span class="h6 text-uppercase fw-bold">
                        Team
                      </span>
                    </th>
                    <th class="d-none d-lg-table-cell">
                      <span class="h6 text-uppercase fw-bold">
                        Location
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <!-- <td colspan="3" class="text-center text-muted text-uppercase"> No Positions At This Time </td> -->
                    
					<td>
                      
                      <a href="/careers/mac-support/" class="text-reset text-decoration-none">
                        <p class="mb-1">
                          Mac Support Specialist
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Responsible for providing amazing Mac Support to our clients.
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/mac-support/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Support
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/mac-support/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                           D.C.
                        </p>
                      </a>

                    </td>
 
                  </tr>

                  
                  <!-- 
<tr>

					<td>
                      
                      <a href="/careers/team-lead/" class="text-reset text-decoration-none">
                        <p class="mb-1">
                          Team Lead & Cloud Sys Admin
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Responsible for managing the support team and providing expert level guidance to our clients.
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/team-lead/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                          Support
                        </p>
                      </a>

                    </td>
                    <td class="d-none d-lg-table-cell">
                      
                      <a href="/careers/team-lead/" class="text-reset text-decoration-none">
                        <p class="font-size-sm mb-0">
                           D.C.
                        </p>
                      </a>

                    </td>
                    
					</tr>
 -->

                </tbody>
              </table>
            </div>

            <!-- Text -->
            <p class="font-size-sm text-center text-muted mb-0">
              Don’t see the job you want? <a href="mailto:support@grovetech.co">Let us know</a>.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>




	{% include contact/contact-home.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>