		
	<!-- CONTACT FORM
    ================================================== -->
    <section class="py-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            
            <!-- Card -->
            <div class="card card-border border-primary shadow-light-lg" data-jarallax-element="-40" style="overflow: hidden;">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-12 col-xl-11">
                
                    <!-- Image -->
                    <div class="text-center">
                      
                      <picture>
						<source srcset="{{ site.site_cdn }}/assets/img/illustrations/illustration-2.webp" type="image/webp">
						<source srcset="{{ site.site_cdn }}/assets/img/illustrations/illustration-2.png" type="image/png" class="img-fluid form-floating w-200"> 
						<img src="{{ site.site_cdn }}/assets/img/illustrations/illustration-2.png" alt="Networking Services" class="img-fluid form-floating w-200">
					 </picture>
				
                    </div>

                    <!-- Heading -->
                    <h2 class="fw-bold text-center mb-1">
                      We'd like to hear from you
                    </h2>

                    <!-- Text -->
                    <p class="font-size-lg text-center text-muted mb-6 mb-md-8">
                      We specialize in business problems and work to help increase profitability by reducing chronic issues.
                    </p>

                    <!-- Form -->
                    <form name="form-contact" id="form-contact" action="https://formspree.io/f/xylrgbym" method="POST">
					  <div class="row">
						<div class="col-12 col-md-12">
						  <div class="form-floating">
					
					
							
							<!-- Input -->
							<input type="text" name="Contact[name]" id="contact_name" class="form-control form-control-flush" placeholder="Name" required>
							<label for="contact_name">Name</label>
						  </div>
						</div>
						<div class="col-12 col-md-12">
						  <div class="form-floating">
					
				   
							
							<!-- Input -->
							<input type="email" name="Contact[email]" id="contact_email" class="form-control form-control-flush" placeholder="Email" required>
							<label for="contact_email">Email</label>
						  </div>
						</div>
						<div class="col-12 col-md-12">
						  <div class="form-floating">
					
				   			
							<!-- Input -->
							<input type="text" name="Contact[phone]" id="contact_phone" class="form-control form-control-flush" placeholder="Phone" required>
							<label for="contact_phone">Phone</label>
							
						  </div>
						</div>
						<div class="col-12 col-md-12">
						  <div class="form-floating">
					
				   
							
							<!-- Input -->
							<input type="text" name="Contact[subject]" class="form-control form-control-flush" id="contact_subject" placeholder="Company Name" required>
							<label for="contact_subject">Company Name</label>
							
						  </div>
						</div>
						<div class="col-12 col-md-12">
						  <div class="mb-3">
					
				   

							<!-- Input -->
							<textarea name="Contact[message]" id="contact_message" class="form-control form-control-flush" placeholder="What challenges are you facing?" rows="8" required></textarea>

						  </div>
						</div>
					  </div> <!-- / .row -->
					  <div class="justify-content-center">
				
				  
						  <!-- Submit -->
						  <button type="submit" class="btn d-block w-100 btn-success">
							Request a Consultation
						  </button>

			   
					  </div> <!-- / .row -->
					  <div class="row mt-4">
                        <div class="col-12">
                      <div class="g-recaptcha" data-sitekey="6LfbeLEcAAAAACEzjNbjfZWbF4jJX0u_gotEJsDf"></div>
                      </div>
                      </div>
                      <input type="text" name="_gotcha" style="display:none" />
					</form>
					<div id="response-message"></div>   
                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>