---
layout: default
title: "Mac Support DC. Is your PC MSP, Apple Certified?"
type: LocalBusiness
description: "Mac Support DC. We are Grove Technologies, a premium, certified, Mac MSP for DC's Mac based businesses!" 
keywords: "mac support dc, grove technologies, groovetech, grove tech, mac dc, it services, it consultant, managed services, mac support near me, apple certified help, solve major issues, mac deployment mdm, custom mac services, hiring grove technologies, virtual cio ciso, ciso managed fleet, dc maryland virginia, mac services tailored, mac support team, managed it services, helpdesk support, it consulting companies, apple store repair, it support services, it outsourcing, managed network services, it service provider, mac support, Mac support, Mac support number Mac support chat, Mac support phone number, Mac support store, Mac support near me, Mac support apple, Mac support customer service, Mac support appointment, Mac support chat live"
thumbnail: /assets/img/banner/mac_msp.png
image: /assets/img/banner/mac_msp.png
author: Jon Brown
ogtype: page
---
    <!-- WELCOME
    ================================================== -->
    <section class="border-bottom">
			
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-6 order-md-2">

           
            <!-- Slider -->
            <div class="position-relative h-100 vw-50 d-none d-md-block" data-aos="fade-left">
				
              <!-- Slider -->
              <div class="h-100 w-100">
                <div class="w-100 h-100 bg-cover homepage-header">
                	
                	<!-- Snow goes here for Holidays -->
                
                </div>
                
              </div>
  				
  				
  				
              <!-- Shape -->
              <div class="shape shape-start shape-fluid-y svg-shim text-white">
                <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-6 py-8 py-md-11 order-md-1" data-aos="fade-right">
            
            <!-- Heading -->
            <h1 class="display-5 mb-3 mb-md-4 mt-8 py-5">
              Grove Technologies: Premier Apple Technical <span class="text-success">& Security Support</span> in Washington DC, MD & VA
            </h1>
           

            <!-- Text -->
            <p class="lead text-muted mb-0 mb-md-0">
              We are a Mac MSP and a member of the <a href="https://consultants.apple.com/us/profile/2045642" title="Grove Technologies a member of the Apple Consultants Network" target="_blank">Apple Consultants Network</a>. We work to bring stability back to the Mac Business environment by providing next-level Mac Management, Mac Repairs, Mac Purchasing, Managed App Updates, and more.
            </p>
            
            <!-- Text -->
            <p class="lead text-muted mb-3 mb-md-8">
              As of 2020 we are on the <a href="https://sam.gov/content/home">GSA Schedule</a>. We are proud to be supporting the needs of our many federal agencies.  
            </p>

			
			  
                    
            <!-- Buttons -->
            <a href="{{ site.site_cdn }}/pricing" title="Pricing Options" class="btn btn-primary me-1 lift">
              Pricing <i class="fe fe-arrow-right ms-3"></i>
            </a>
            <a href="{{ site.site_cdn }}/survey" title="Leave us a review" class="btn btn-primary-soft lift button">
              Review Us!
            </a>



           


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <!-- Alerts go here for general alerts  -->
    
   
		<!--  <canvas id="can"></canvas>
	
		Lights goes here for Holidays 
	 
	 {% include confetti.html %}  -->
	 
	<!-- Confetti goes here for Special Occassions  -->
	
   
	{% include alert.html %}
	 
    <!-- FLEXIBILITY
    ================================================== -->
    <section class="pt-8 pt-md-11 bg-gradient-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-success-soft mb-3">
              <span class="h6 text-uppercase">Flexibility</span>
            </span>

            <!-- Heading -->
            <h2>
              Support for Any Size Team
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
              No matter what size your team, we have a solution. We work with clients and businesses of any size and budget level. Give us a call today and see how we can help you!
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-4" data-aos="fade-up">
            
            <!-- Card -->
            <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
              
              <!-- Image -->
              	<picture>
			  		<source srcset="{{ site.site_cdn }}/assets/img/covers/cover-5.webp" type="image/webp">
			  		<source srcset="{{ site.site_cdn }}/assets/img/covers/cover-5.jpg" type="image/jpeg" class="card-img-top"> 
			  		<img src="{{ site.site_cdn }}/assets/img/covers/cover-5.jpg" alt="Networking Services" class="card-img-top">
				</picture>

              

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
                </div>
              </div>

              <!-- Body -->
              <div class="card-body position-relative">


                
                <!-- Heading -->
                <h3>
                  Managed Networking
                </h3>

                <!-- Text -->
                <p class="text-muted">
                  <a href="{{ site.site_cdn }}/products/hosted/network/" title="Managed Networks">Managed Networks</a> at Grove Technologies. We work with Cisco, Ubiquiti, Aruba & more. We provide network security, management & peace of mind.
                </p>

                <!-- Link -->
                <a href="{{ site.site_cdn }}/products/hosted/network/" class="fw-bold text-decoration-none">
                  More Information <i class="fe fe-arrow-right ms-3"></i>
                </a>

              </div>

            </div>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
            
            <!-- Card -->
            <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
              
              <!-- Image -->
              

			  	<picture>
			  		<source srcset="{{ site.site_cdn }}/assets/img/covers/cover-6.webp" type="image/webp">
			  		<source srcset="{{ site.site_cdn }}/assets/img/covers/cover-6.jpg" type="image/jpeg" class="card-img-top"> 
			  		<img src="{{ site.site_cdn }}/assets/img/covers/cover-6.jpg" alt="Mac Support" class="card-img-top">
				</picture>

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
                </div>
              </div>

              <!-- Body -->
              <div class="card-body position-relative">


                
                <!-- Heading -->
                <h3>
                  Mac Support
                </h3>

                <!-- Text -->
                <p class="text-muted">
                  Welcome to the way managed Mac fleets should be, tested and certified. Our Managed App update tools scale to meet any enterprise need automatically.
                </p>

                <!-- Link -->
                <a href="{{ site.site_cdn }}/products/hosted/fleet/" title="Mac Support" class="fw-bold text-decoration-none">
                  More Information <i class="fe fe-arrow-right ms-3"></i>
                </a>

              </div>

            </div>

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
            
            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">
              
              <!-- Image -->
                <picture>
			  		<source srcset="{{ site.site_cdn }}/assets/img/covers/cover-7.webp" type="image/webp">
			  		<source srcset="{{ site.site_cdn }}/assets/img/covers/cover-7.jpg" type="image/jpeg" class="card-img-top"> 
			  		<img src="{{ site.site_cdn }}/assets/img/covers/cover-7.jpg" alt="Security Services" class="card-img-top">
				</picture>
				
              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
                </div>
              </div>

              <!-- Body -->
              <div class="card-body position-relative">


                
                <!-- Heading -->
                <h3>
                  Security Services
                </h3>

                <!-- Text -->
                <p class="text-muted">
                  Your business is only as good as the people that work there. Its time to train your employees the right way with our security awareness training platform. 
                </p>

                <!-- Link -->
                <a href="{{ site.site_cdn }}/products/security/training/" title="Security Services" class="fw-bold text-decoration-none">
                  More Information <i class="fe fe-arrow-right ms-3"></i>
                </a>

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    
	{% include customer.html %}
	
	{% include cmmc.html %}

    <!-- SCALABLE
    ================================================== -->
    <section class="py-8 py-md-11 border-bottom border-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 order-md-2">
            
            <!-- Image -->
		
				<picture>
			  		<source srcset="{{ site.site_cdn }}/assets/img/illustrations/illustration-8.webp" type="image/webp">
			  		<source srcset="{{ site.site_cdn }}/assets/img/illustrations/illustration-8.png" type="image/png" class="img-fluid mb-6 mb-md-0"> 
			  		<img src="{{ site.site_cdn }}/assets/img/illustrations/illustration-8.png" alt="Networking Services" class="img-fluid mb-6 mb-md-0">
				</picture>
				
				
          </div>
          <div class="col-12 col-md-6 order-md-1">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-soft mb-3">
              <span class="h6 text-uppercase">Scalable</span>
            </span>

            <!-- Heading -->
            <h2>
              Amazing Mac Support <br>
              <span class="text-primary">in Washington DC</span>
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-6 mb-md-6">
              We help people and businesses unlock the hidden potential of Macs in the workplace. Based in Washington DC, we are a total Mac Solution for the Washington DC, Maryland, and Virginia regions.
            </p>

            <p class="font-size-lg text-gray-700 mb-6 mb-md-6">
              We solve major issues like Mac deployment and MDM. Your technology runs your business, we exist to ensure that it continues to do so. Let us show you how we can help your business systems run better.
            </p>


            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">
                
                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle bg-primary-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <!-- Text -->
                  <p>
                    IT Business Services
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle bg-primary-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <p class="mb-lg-0">
                    Mac MSP Services
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <span class="badge badge-rounded-circle bg-primary-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </span>
                  
                  <!-- Text -->
                  <p>
                    Mac Support Services
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle bg-primary-soft me-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>
                  
                  <!-- Text -->
                  <p class="mb-0">
                    Managed Networks
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CISO
    ================================================== -->
    <section class="border-top border-bottom">
      <div class="container">
        <div class="row justify-content-between align-items-stretch">
          <div class="col-12 col-md-6 py-8">

           <!-- Heading -->
            <h2>
              Virtual CISO Services <br>
              <span class="text-success">For the DC Area</span>
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-gray-700 mb-6 mb-md-6">
              We helped a local IT Team show their CEO the importance of proactive disaster recovery planning. 
            </p>

 			<p class="font-size-lg text-gray-700 mb-6 mb-md-6">
              Most companies aren't fully covered in either security or compliance, and they are generally unaware of the many vulnerabilities that need to be protected. 360 security starts with a baseline risk assessment. 
            </p>
            
             <p class="font-size-lg text-gray-700 mb-6 mb-md-6">
              Let us show you the vulnerabilities that your small business faces with a comprehensive GAP analysis and remediation plan.
            </p>
            

          </div>
          <div class="col-12 col-md-5">

            <!-- Image -->
            <div class="position-relative h-100 vw-50 bg-cover ciso-header">

              <!-- Shape -->
              <div class="shape shape-start shape-fluid-y svg-shim text-white">
                <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>
              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    

    

	
    
	{% include contact/contact-home.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>