    <!-- FEATURES
    ================================================== -->
    <section class="py-8 py-md-11 bg-light border-bottom border-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">Culture</span>
            </span>
            
             <!-- Heading -->
            <h2>
              A little bit about Grove Technologies Culture
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9 px-md-9">
              These values are what we value at Grove Technologies. They aren’t just nice-sounding words on a poster somewhere, but a succinct description of our culture and what it’s like to work here. 
            </p>


          </div>
        </div> <!-- / .row -->
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            
            <!-- Card -->
            
            <div class="accordion" id="featuresAccordion">
              <div class="accordion-item">

                <!-- Button -->
                <div class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#featuresOne" aria-expanded="true" aria-controls="featuresOne">
                  <div class="me-auto">

                    <!-- Title -->
                    <p class="fw-bold mb-0" id="featuresOneHeading">
                        Delight the customer
                    </p>

                    <!-- Text -->
                    <p class="fs-sm text-muted mb-0">
                     	Our first and foundational core value.
                    </p>
                    
                    

                  </div>

                  <!-- Badge -->
                  <span class="badge rounded-pill bg-success-soft ms-4 d-none d-lg-block">
                    <span class="h6 text-uppercase">CUSTOMER OBSESSED</span>
                  </span>

                </div>

                <!-- Collapse -->
                <div class="accordion-collapse collapse show" id="featuresOne" aria-labelledby="featuresOneHeading" data-bs-parent="#featuresAccordion">
                  <div class="accordion-body">
                  
                    <p class="text-gray-800">Embodying this value means:</p>
					<ul class="text-gray-800">
						<li>Provide a delightful experience</li>
						<li>Make it fun &amp; easy</li>
						<li>Deliver value over the long term</li>
						<li>Take time to listen to and empathize with the customer</li>
						<li>Be accountable for how people experience our product and company</li>
					</ul>
					<p class="text-gray-800">This is a value as old as business itself, but it’s fundamental to how we operate at Grove Technologies. We are a business, and the only way we can stay in business is by attracting and retaining customers.</p>
					<p class="text-gray-800">From the very start of Grove Technologies, we've focused on building a product that our customers find easy, fun, and useful. We pride ourselves on making the work a more fun, fulfilling, and positive experience for all our users - day after day, month after month, and year after year.</p>
					<p class="text-gray-800">To that end, everyone at Grove Technologies focuses on the customer -- their needs, challenges, feedback, ideas, and behaviors. This focus is foundational to everything we do, because we don’t just serve customers -- we delight them.</p>

                  </div>
                </div>

              </div>
              <div class="accordion-item">

                <!-- Button -->
                <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresTwo" aria-expanded="false" aria-controls="featuresTwo">
                  <div class="me-auto">

                    <!-- Title -->
                    <p class="fw-bold mb-0" id="featuresTwoHeading">
                      Go get results
                    </p>

                    <!-- Text -->
                    <p class="fs-sm text-muted mb-0">
                      This is how we operate on a day to day basis.
                    </p>

                  </div>
                  
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-info-soft ms-4 d-none d-lg-block">
                    <span class="h6 text-uppercase">INNOVATIVE DELIVERY</span>
                  </span>

                </div>

                <!-- Collapse -->
                <div class="accordion-collapse collapse" id="featuresTwo" aria-labelledby="featuresTwoHeading" data-bs-parent="#featuresAccordion">
                  <div class="accordion-body">
                  
                    <ul class="text-gray-800">
						<li>Bias toward action</li>
						<li>Try things that might not work</li>
						<li>Focus on results, not inputs</li>
						<li>Release, iterate, improve</li>
						<li>Take responsibility for understanding context and goals</li>
					</ul>

					<p class="text-gray-800">You can think of this value in two parts: “go get” and “results”. The first part speaks to our strong bias toward action. If there’s something you want to make, improve, change, or get rid of -- go do it. Need input or feedback? Chat with some colleagues on Slack. Need copywriting, engineering or design resources? Recruit those colleagues by rallying them to your cause. Whatever you do, avoid what <a href="http://www.slideshare.net/reed2001/culture-1798664/11-11_Impact_You_accomplish_amazing" rel="nofollow">Netflix calls</a> “analysis paralysis”.</p>
					<p class="text-gray-800">The second part (“results”) speaks to the primacy of outputs. We care about inputs to the extent that we want to Work smarter and be finding more efficient, effective ways to produce better outputs. Beyond that, what matters is getting the work done and measuring the impact of this work after completing it. Do the results match up with your goals? Is there more room for improvement? Were there unintended consequences (good or bad)?</p>
					<p class="text-gray-800">In practice, this is challenging. In order to go get results, we must understand current goals and priorities, and cost/benefit tradeoffs (ie. go for the quick win that costs little, or spend more time on a robust solution?). Our core value of Default to transparency should ensure that the information you need is available to you, but if it isn't, go seek it out.</p>

                  </div>
                </div>

              </div>
              <div class="accordion-item">

                <!-- Button -->
                <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresThree" aria-expanded="false" aria-controls="featuresThree">
                  <div class="me-auto">

                    <!-- Title -->
                    <p class="fw-bold mb-0" id="featuresThreeHeading">
                      Default to transparency
                    </p>

                    <!-- Text -->
                    <p class="fs-sm text-muted mb-0">
                       Transparency is key in all our communications.
                    </p>

                  </div>
                  
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-secondary-soft ms-4 d-none d-lg-block">
                    <span class="h6 text-uppercase">TRUSTED RESPONSE</span>
                  </span>

                </div>

                <!-- Collapse -->
                <div class="accordion-collapse collapse" id="featuresThree" aria-labelledby="featuresThreeHeading" data-bs-parent="#featuresAccordion">
                  <div class="accordion-body">
                     <ul class="text-gray-800">
						<li>Take responsibility to share information that may help others (with context)</li>
						<li>Share what you’ve learned</li>
						<li>Be vulnerable - talk about mistakes, failures, and bad news</li>
						<li>Create an environment where it’s easy to get information</li>
					</ul>

					<p class="text-gray-800">In order to act on our values, particularly those of Work smarter and Go get results, individuals must be equipped with the information they need to make good decisions. That information consists of metrics, results and other data, as well as the contextual information to help them understand that data and use it to make good decisions.</p>
					<p class="text-gray-800">We don’t just occasionally share our internal metrics -- we make them available in real time. Any member of Grove Technologies can log in to our internal dashboard and see our up-to-date metrics: revenue, churn, LTV, response time, uptime, etc. This ensures that people have the information they need to come up with novel solutions and act on them.</p>
					<p class="text-gray-800">Just posting information isn't enough, however. Sharing <em>context</em> is also necessary. So, we have monthly all-hands meetings and post explainers in Slack so that team members don't just see our numbers, priorities, and goals, but understand what they mean.</p>
					<p class="text-gray-800">On an individual level, we candidly share stories of our successes, failures, challenges, and interests so that we can learn from and support one another.</p>
					<p class="text-gray-800">In discussing this value, there was some concern that "default" made it sound too passive but we ultimately came to feel that "default" is the appropriate word. As dedicated product people, we understand the power of defaults. To make something the default means that people will always do that thing, <em>unless there is a very compelling reason not to</em>. We understand that some information must be kept confidential or compartmentalized. But this value ensures that sharing is the rule, concealing is the exception.</p>

                  </div>
                </div>
                
                
                
                

              </div>
              
              <div class="accordion-item">

                <!-- Button -->
                <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresFour" aria-expanded="false" aria-controls="featuresFour">
                  <div class="me-auto">

                    <!-- Title -->
                    <p class="fw-bold mb-0" id="featuresFourHeading">
                      Be an excellent teammate
                    </p>

                    <!-- Text -->
                    <p class="fs-sm text-muted mb-0">
                       Be excellent to each other.
                    </p>

                  </div>
                  
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-danger-soft ms-4 d-none d-lg-block">
                    <span class="h6 text-uppercase">CANDID</span>
                  </span>

                </div>

                <!-- Collapse -->
                <div class="accordion-collapse collapse" id="featuresFour" aria-labelledby="featuresFourHeading" data-bs-parent="#featuresAccordion">
                  <div class="accordion-body">
                     <p class="text-gray-800">
						Embodying this value means:
					</p>
			
					<ul class="text-gray-800">
						<li>Be proactive and assertive</li>
						<li>Solicit feedback and input</li>
						<li>Be <a href="https://www.radicalcandor.com/about-radical-candor/" rel="nofollow">radically candid</a></li>
						<li>Listen first</li>
						<li>Assume the best</li>
						<li>Be there for others</li>
						<li>Teach &amp; encourage</li>
						<li>Solve problems together</li>
					</ul>
					<p class="text-gray-80">We believe that success is achieved by people working on teams. As such, it is critical that we be the best teammates possible to one another. This means being proactive and assertive in your communication: asking for what you need, providing candid, constructive feedback, and voicing your opinions and ideas. It also means listening to, supporting, and encouraging your colleagues -- especially at times of disagreement and stress. And last but not least, it means having fun with your teammates!</p>

                  </div>
                </div>
                
                
                
                

              </div>
              
              <div class="accordion-item">

                <!-- Button -->
                <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresFive" aria-expanded="false" aria-controls="featuresFive">
                  <div class="me-auto">

                    <!-- Title -->
                    <p class="fw-bold mb-0" id="featuresFiveHeading">
                      Work smarter
                    </p>

                    <!-- Text -->
                    <p class="fs-sm text-muted mb-0">
                      Ensure that we constantly improve.
                    </p>

                  </div>
                  
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-info-soft ms-4 d-none d-lg-block">
                    <span class="h6 text-uppercase">EMPATHETIC SERVICE</span>
                  </span>

                </div>

                <!-- Collapse -->
                <div class="accordion-collapse collapse" id="featuresFive" aria-labelledby="featuresFiveHeading" data-bs-parent="#featuresAccordion">
                  <div class="accordion-body">
                    <p class="text-gray-800">Embodying this value means:</p>
					<ul class="text-gray-800">
						<li>Question why/how we do things</li>
						<li>Iterate on current processes</li>
						<li>Optimize how you work</li>
						<li>Always be learning</li>
						<li>Make data-informed decisions (when possible)</li>
						<li>Figure out how we can "punch above our weight"</li>
						<li>Embrace &amp; learn from negative results</li>
					</ul>
					<p class="text-gray-800">At Grove Technologies, we’re able to move quickly and effectively with a very small team by ensuring that every team member is not simply executing on tactical-level tasks, but is also evaluating, improving, (and ideally automating) how those tasks get executed. Moreover, team members are encouraged to question if specific tasks are even necessary, and seek <a href="https://medium.com/@SubtractionCap/subtraction-growth-6ef5c8ad42f6" rel="nofollow">growth via subtraction</a>.</p>
					<p class="text-gray-800">Working smarter also means knowing yourself and how you work best. Where do you work best? With what tools? At what times? How much R&amp;R do you need in order to perform at your best? What skills/knowledge do you need to acquire in order to take your output to the next level? At Grove Technologies, you have the freedom, and the responsibility, to answer these questions for yourself.</p>

                  </div>
                </div>
                
                
                
                

              </div>
              
              
              
               <div class="accordion-item">

                <!-- Button -->
                <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresSix" aria-expanded="false" aria-controls="featuresSix">
                  <div class="me-auto">

                    <!-- Title -->
                    <p class="fw-bold mb-0" id="featuresSixHeading">
                      Seek and embrace diversity
                    </p>

                    <!-- Text -->
                    <p class="fs-sm text-muted mb-0">
                      We are better when we are diverse.
                    </p>

                  </div>
                  
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-success-soft ms-4 d-none d-lg-block">
                    <span class="h6 text-uppercase">INCLUSIVE & UNDERSTANDING</span>
                  </span>

                </div>

                <!-- Collapse -->
                <div class="accordion-collapse collapse" id="featuresSix" aria-labelledby="featuresSixHeading" data-bs-parent="#featuresAccordion">
                  <div class="accordion-body">
                    <p class="text-gray-800">Embodying this value means:</p>
					<ul class="text-gray-800">
						<li>Actively learn about and work to mitigate your own biases</li>
						<li>Make sure our product is inclusive</li>
						<li>Seek representation &amp; inclusion (even at the expense of other goals)</li>
						<li>Build inclusivity &amp; bias mitigation into our processes</li>
						<li>Expect it to be hard and uncomfortable sometimes</li>
					</ul>
					<p class="text-gray-800">Our industry has <a href="http://www.theverge.com/2015/8/20/9179853/tech-diversity-scorecard-apple-google-microsoft-facebook-intel-twitter-amazon" rel="nofollow">well-documented</a> <a href="http://wpusa.org/WPUSA_TechsDiversityProblem.pdf" rel="nofollow">problems</a> when it comes to <a href="http://techcrunch.com/2015/07/28/what-a-truly-diverse-tech-company-would-look-like/" rel="nofollow">workplace diversity</a>. This fact makes it easy for tech companies to skew everything from their employment policies to the features they develop toward the needs of the dominant group - which is both a disservice to our customers and reinforces the lack of diversity in our industry.</p>
					<p class="text-gray-800">Our dedication to diversity goes beyond simply putting equal opportunity copy on our job descriptions. We use tools (like <a href="https://textio.com/" rel="nofollow">Textio</a>) to eliminate gender bias from the language of our job postings, and actively seek out applicants from diverse backgrounds. And we invite feedback from job applicants and employees alike about how we can better embrace diversity. We all have <a href="https://www.youtube.com/watch?v=nLjFTHTgEVU" rel="nofollow">unconscious biases</a>, and welcome your help in identifying and mitigating them. And in the spirit of measuring results, we track and share our diversity numbers on a quarterly basis.</p>
					<p class="text-gray-800">On an individual level, employees help create an inclusive and welcoming environment first by learning about how privilege and bias can work to exclude certain voices in the workplace. For example, <a href="https://hbr.org/2014/06/women-find-your-voice" rel="nofollow">meetings are often a situation in which women, minorities, and people with reserved personalities struggle to be heard</a>. If you are someone who feels comfortable and confident in meetings and usually speaks early and often, try asking for input from your colleagues before giving your opinion. Encourage others who do speak up by practicing active listening and thanking them for their input.</p>
					<p class="text-gray-800">On a product level, we strive to build a software tools that are inclusive and welcoming to all, and will hold ourselves accountable for how our product is used by our customers.</p>

                  </div>
                </div>
                
                
                
                

              </div>
              
            </div>
            

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
 