<!-- FAQ
    ================================================== -->
    <section class="py-8 py-md-11 bg-white border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-md-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">Assessing Risk</span>
            </span>

            <!-- Heading -->
            <h2>
              More Information
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              How can we help you protect yourself?
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-6">
            
            <!-- Heading -->
            <h3>
              Security Training
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              92% of data breaches are caused by human error. "Companies shouldn't just throw technology at the problem. Up-skilling users and making them more cyber-aware is the best approach.
            </p>
			<p class="text-gray-800 mb-6 mb-md-8">
               <h4>What can we do?</h4><br>
			   Security Awareness Training course – Reduce employee-induced errors with cybersecurity training. Includes a quiz and printable certificate upon successful completion.
            </p>
            

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Heading -->
            <h3>
              Education Available
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              Annual security training is a great way to cover the basics of cybersecurity, but repetition equals retention. Ongoing education is key in a robust cybersecurity program.
            </p>
            <p class="text-gray-800 mb-6 mb-md-8">
              <h4>What can we do?</h4><br>
              We offer an ongoing education solution – Weekly mini-security training video, monthly security newsletter, continuous phishing and dark web monitoring.
            </p>
           

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>