    <!-- INCLUDE
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container mt-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">All Inclusive</span>
            </span>

            <!-- Heading -->
            <h2>
              All our annual plans include
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              We provide best in class tools that help us <br>keep your systems running smoothly.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row mb-10">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5 2h14a2 2 0 012 2v2a2 2 0 01-2 2H5a2 2 0 01-2-2V4a2 2 0 012-2zm6 2a1 1 0 000 2h5a1 1 0 000-2h-5zM7 6a1 1 0 100-2 1 1 0 000 2z" fill="#335EEA" opacity=".3"/><path d="M5 9h14a2 2 0 012 2v2a2 2 0 01-2 2H5a2 2 0 01-2-2v-2a2 2 0 012-2zm6 2a1 1 0 000 2h5a1 1 0 000-2h-5zm-4 2a1 1 0 100-2 1 1 0 000 2zM5 16h14a2 2 0 012 2v2a2 2 0 01-2 2H5a2 2 0 01-2-2v-2a2 2 0 012-2zm6 2a1 1 0 000 2h5a1 1 0 000-2h-5zm-4 2a1 1 0 100-2 1 1 0 000 2z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Complete System
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
			The OnSip hosted PBX takes just minutes to set up, and you can even keep your phone number. Enjoy all the features of a traditional phone system, including conference bridges, attendant menus, ring groups & ACD queues.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m0 0h24v24h-24z"/><g fill="#335eea"><path d="m7.139 4v15h9.722v-15h-9.721zm.694-3h8.334c1.406 0 2.083.981 2.083 2.5v17c0 1.519-.677 2.5-2.083 2.5h-8.334c-1.406 0-2.083-.981-2.083-2.5v-17c0-1.519.677-2.5 2.083-2.5z"/><path d="m7 4v15h10v-15z" opacity=".3"/><circle cx="12" cy="21" r="1"/></g></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Any Device
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              With the free OnSIP app—available on Android, iOS, Mac, and Windows—you can use your mobile phone or computer to make HD voice and video calls, view coworker presence, dial contacts with a click, and manage your voicemails.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="2" y="6" width="13" height="12" rx="2"/><path d="M22 8.414v7.172a1 1 0 01-1.707.707l-3.586-3.586a1 1 0 010-1.414l3.586-3.586A1 1 0 0122 8.414z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Video Conferencing
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
				Hold company-wide conference calls to keep your daily standups going even when you're not in the office. Simply use a unique, secure conference link to join a meeting right in your browser—no downloads required.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M16.5 4.5c-1.61 0-3.492 1.825-4.5 3-1.008-1.175-2.89-3-4.5-3C4.651 4.5 3 6.722 3 9.55c0 3.133 3 6.45 9 9.95 6-3.5 9-6.75 9-9.75 0-2.828-1.651-5.25-4.5-5.25z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Award-winning Support
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
			Our US-based support team is here for you every step of the way. We'll guide you through setup, help you troubleshoot, and show you how to get the most out of our products. After all, communication is what we do best!
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M14.486 18l-1.689 3.057a1 1 0 01-1.708.069L9.017 18H5a3 3 0 01-3-3V6a3 3 0 013-3h14a3 3 0 013 3v9a3 3 0 01-3 3h-4.514z" fill="#335EEA" opacity=".3"/><path d="M6 7h9a1 1 0 010 2H6a1 1 0 110-2zm0 4h5a1 1 0 010 2H6a1 1 0 010-2z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              sayso Website Chat
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
			Discover the smarter way to encourage inbound calls! sayso allows website visitors to voice or video chat with sales teams through your website. Our real-time alternative to text chat also integrates with HubSpot!
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><circle fill="#335EEA" opacity=".3" cx="12" cy="12" r="9"/><path d="M11.736 20.996a9 9 0 01-8.733-9.245c.66.063 1.853.206 1.91.67.077.64 0 1.44.545 1.68s.701-.96 1.169-.64c.467.32 1.714.629 1.714 1.195 0 .566-.234 1.447 0 1.608.234.16 1.168 1.28 1.168 1.44 0 .161.33.975.231 1.287-.08.258-.491 1.06-.89 1.424a8.742 8.742 0 002.886.581zM8.283 3.801A8.967 8.967 0 0112 3a9 9 0 018.036 4.944c.034.78.028 1.447.2 1.689.877 1.227-2.136 2.071-1.679 3.928.202.818-2.004.559-2.543 1.325-.54.767-1.857.252-2.162.104-.305-.147-1.475.344-1.373-.49.102-.835.813-.884 1.577-1.228.762-.343 1.863-1.485 1.322-1.634-2.546-.702-3.414-3.16-3.414-3.16-.153-.029-.115-1.737-.776-1.786-.661-.05-1.018.196-1.984 0s-.763-.835-.915-2.21c-.034-.308-.033-.525-.006-.68zm12.716 8.076L21 12a9 9 0 01-8.91 9c4.88-.05 8.844-4.112 8.91-9.123z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Remote Working Hub
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
			Our work from home solutions give you the features and freedom you need to work anywhere and keep your business running smoothly. Free call forwarding, and unlimited conferencing make it easy to stay connected.
            </p>

          </div>
        </div> <!-- / .row --> 
     
        
        
        
        
        
        
        
         
      </div> <!-- / .container -->
    </section>