    <!-- INCLUDE
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container mt-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">About our plans</span>
            </span>

            <!-- Heading -->
            <h2>
              What can you expect?
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              A Strategic Foundation Is the First Sign<br> of a Businesses Technological Maturity
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row mb-10">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M3 12s2.455-6 9-6c4.91 0 9 6 9 6s-4.09 6-9 6c-6.545 0-9-6-9-6z" fill="#335EEA" opacity=".3"/><path d="M12 15a3 3 0 110-6 3 3 0 010 6z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Business Impact Analysis
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              A business impact analysis (BIA) predicts the consequences of disruption of a business function and process and gathers information needed to develop recovery strategies. Potential loss scenarios should be identified during a risk assessment.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M11.167 4.5L2.825 19.513A1 1 0 003.7 21h17.517a1 1 0 00.853-1.521L12.894 4.464a1 1 0 00-1.727.035z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="11" y="9" width="2" height="7" rx="1"/><rect fill="#335EEA" x="11" y="17" width="2" height="2" rx="1"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Disaster Recovery Plan
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              A disaster recovery plan is a documented process or set of procedures to execute an organization's disaster recovery processes and recover and protect a business IT infrastructure in the event of a any type of disaster.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"/><path d="M10.875 15.75a.946.946 0 01-.67-.287l-1.918-1.917a.926.926 0 010-1.342c.384-.383 1.007-.383 1.342 0l1.246 1.246 3.162-3.162a.926.926 0 011.342 0 .926.926 0 010 1.341l-3.833 3.834a.946.946 0 01-.671.287zM11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Business Continuity Plan
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              Business continuity planning is the process of creating systems of prevention and recovery to deal with potential threats to a company. The goal is to enable ongoing operations before and during execution of disaster recovery.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2zm5.018 13.75c.24 0 .48-.096.67-.287l3.834-3.834a.926.926 0 000-1.341.926.926 0 00-1.341 0l-3.163 3.162-1.246-1.246c-.335-.383-.958-.383-1.341 0a.926.926 0 000 1.342l1.916 1.917a.946.946 0 00.671.287z" fill="#335EEA" opacity=".3"/><path d="M10.875 15.75a.946.946 0 01-.67-.287l-1.918-1.917a.926.926 0 010-1.342c.384-.383 1.007-.383 1.342 0l1.246 1.246 3.162-3.162a.926.926 0 011.342 0 .926.926 0 010 1.341l-3.833 3.834a.946.946 0 01-.671.287z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Procedural Documentation
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              A process document outlines the steps necessary to complete a task or process. It is an internal, ongoing documentation of the process while it is occurring—documentation cares more about the “how” of implementation than the “what” of process impact.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Custom Policies
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Having good IT Policies on the books helps your staff and your organization know what the boundaries are and helps show the strength of your technological maturity posture. Policies help you define and enforce best practices in the workplace.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><path d="M14.5 12a1 1 0 011 1v3a1 1 0 01-1 1h-5a1 1 0 01-1-1v-3a1 1 0 011-1v-.5a2.5 2.5 0 115 0v.5zM12 10a1.5 1.5 0 00-1.5 1.5v.5h3v-.5A1.5 1.5 0 0012 10z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Security Policies
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              Cybersecurity involves preventing, detecting, and responding to cyberattacks that can have wide ranging effects on the individual, organizations, the community, and at the national level. Cyberattacks are malicious attempts to access or damage a computer system.
            </p>

          </div>
        </div> <!-- / .row --> 
      </div> <!-- / .container -->
    </section>