    <!-- INCLUDE
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container mt-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">About our plans</span>
            </span>

            <!-- Heading -->
            <h2>
              What can you expect?
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              A Strategic Foundation Is the First Sign<br> of a Businesses Technological Maturity
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row mb-10">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M9 10v9l1.153.384a12 12 0 003.794.616h3.594a3 3 0 002.941-2.412l.75-3.746a3 3 0 00-3.142-3.581l-3.59.239.364-4.006A1.37 1.37 0 0013.5 5a2.65 2.65 0 00-2.272 1.286L9 10z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" x="2" y="9" width="5" height="11" rx="1"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Risk Assessment
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Most companies aren't fully covered in either security or compliance, and they are generally unaware of the many vulnerabilities that need to be protected. 
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M3 12s2.455-6 9-6c4.91 0 9 6 9 6s-4.09 6-9 6c-6.545 0-9-6-9-6z" fill="#335EEA" opacity=".3"/><path d="M12 15a3 3 0 110-6 3 3 0 010 6z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Complete Visibility
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              This vital assessment gives you complete visibility into your entire network and data to reveal vulnerabilities and gaps that need to be addressed. 
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M7.077 12.304a6.732 6.732 0 002.391 1.804L5 23l-.5-5 2.577-5.696zm7.51 1.956a6.72 6.72 0 002.474-1.64L19.5 18l-.5 5-4.413-8.74zM12 0a1.5 1.5 0 011.5 1.5V4h-3V1.5A1.5 1.5 0 0112 0z" fill="#335EEA" opacity=".3"/><path d="M12 10a2 2 0 100-4 2 2 0 000 4zm0 3a5 5 0 110-10 5 5 0 010 10z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Customized Plan
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              What emerges from the thorough risk assessment is the Executive Summary, an invaluable blueprint that we will use to target, prioritize, and address trouble areas.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row mb-10">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M15.784 14l-2.806 2.806-5.15-5.15a4 4 0 010-5.656L14 12.172V8a6 6 0 016-6v12h-4.216z" fill="#335EEA" opacity=".3"/><path d="M5.5 12h13a4.5 4.5 0 110 9h-13a4.5 4.5 0 110-9zm14 6a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              What is compliance?
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Understanding the rules and regulations and applying them to your business can be costly and time consuming. Many of the compliances and best practices require an internal self-assessment. 
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12.843 16h-1.686l-.172.64a4.547 4.547 0 01-8.784-2.354l1.72-6.418A4.547 4.547 0 0112 6.383a4.547 4.547 0 018.08 1.484l1.719 6.419a4.547 4.547 0 01-8.784 2.353L12.843 16zm4.613 2.105c1.507 0 2.729-1.267 2.729-2.83 0-1.564-1.222-2.831-2.729-2.831-1.506 0-2.728 1.267-2.728 2.83 0 1.564 1.222 2.831 2.728 2.831zm-10.912 0c1.506 0 2.728-1.267 2.728-2.83 0-1.564-1.222-2.831-2.728-2.831-1.507 0-2.729 1.267-2.729 2.83 0 1.564 1.222 2.831 2.729 2.831z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Policy Portal
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              We have developed a fully managed streamlined service, which provides a portal that takes you through a simple step by step compliance and best practices process. 
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M19 11h1a3 3 0 010 6h-1v3a2 2 0 01-2 2H5a2 2 0 01-2-2v-3h2a3 3 0 000-6H3V8a2 2 0 012-2h3V5a3 3 0 116 0v1h3a2 2 0 012 2v3z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
             Control Frameworks
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              Control frameworks can be highly challenging and expensive to implement. In addition, it is costly and time consuming to train your staff and keep up with the volume of change controls. 
            </p>

          </div>
        </div> <!-- / .row --> 
      </div> <!-- / .container -->
    </section>