    <!-- INCLUDE
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container mt-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Badge -->
            <span class="badge rounded-pill bg-primary-desat-soft mb-3">
              <span class="h6 text-uppercase">Managed Networks</span>
            </span>

            <!-- Heading -->
            <h2>
              Network Plan Features
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              We provide best in class tools that help us <br>keep your systems running smoothly.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row mb-10">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m0 0h24v24h-24z"/><g fill="#335eea"><rect height="18" opacity=".3" rx="2" width="20" x="2" y="3"/><path d="m9.949 13.316a1 1 0 0 1 -.949.684h-4a1 1 0 0 1 0-2h3.28l1.771-5.316c.317-.95 1.676-.897 1.92.073l1.844 7.378.79-1.582a1 1 0 0 1 .895-.553h3.5a1 1 0 0 1 0 2h-2.882l-1.724 3.447c-.415.83-1.639.696-1.864-.204l-1.667-6.669z"/><circle cx="19" cy="6" opacity=".3" r="1"/></g></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Network Security
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Grove tests the security patches for your equipment in our network lab ensuring that all security patches are verified and tested before being deployed.
            </p>  
            	  <br>
				  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Starter</span>
                  </span>
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>
          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M10.963 7.5h.085a.5.5 0 01.497.45L12 12.5l3.248 1.856a.5.5 0 01.252.434V15a.382.382 0 01-.482.368l-4.62-1.26a.5.5 0 01-.366-.52l.432-5.626a.5.5 0 01.499-.462z" fill="#335EEA"/><path d="M7.39 2.835A10.466 10.466 0 0111.5 2C17.299 2 22 6.701 22 12.5S17.299 23 11.5 23 1 18.299 1 12.5c0-.985.136-1.938.39-2.842l1.925.54A8.509 8.509 0 003 12.5 8.5 8.5 0 1011.5 4c-.951 0-1.878.156-2.751.454l1.19 1.42a.5.5 0 01-.354.82l-4.867.276a.5.5 0 01-.515-.615l1.129-4.731a.5.5 0 01.869-.206L7.39 2.835z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Firmware Patching
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              We test new firmware and feature releases of network firmware in our lab to ensure that it's secure and will not cause issues.  
            </p>
				<br>
				  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Starter</span>
                  </span>
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>
          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Firewall Log Monitoring
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We look at the log files and classify events from the router and firewall to ensure that nothing malicious is happening. 
            </p>
            	<br>
				  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Starter</span>
                  </span>
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
        </div> <!-- / .row -->
        <div class="row mb-10">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5 2h14a2 2 0 012 2v2a2 2 0 01-2 2H5a2 2 0 01-2-2V4a2 2 0 012-2zm6 2a1 1 0 000 2h5a1 1 0 000-2h-5zM7 6a1 1 0 100-2 1 1 0 000 2z" fill="#335EEA" opacity=".3"/><path d="M5 9h14a2 2 0 012 2v2a2 2 0 01-2 2H5a2 2 0 01-2-2v-2a2 2 0 012-2zm6 2a1 1 0 000 2h5a1 1 0 000-2h-5zm-4 2a1 1 0 100-2 1 1 0 000 2zM5 16h14a2 2 0 012 2v2a2 2 0 01-2 2H5a2 2 0 01-2-2v-2a2 2 0 012-2zm6 2a1 1 0 000 2h5a1 1 0 000-2h-5zm-4 2a1 1 0 100-2 1 1 0 000 2z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Equipment Management
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Our on-premise network scanner will detect changes in environmental conditions, ensure uptime of your critical systems and more. 
            </p>
            
           		 <br>
				  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Starter</span>
                  </span>
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="3" y="13" width="18" height="7" rx="2"/><path d="M17.403 9.55l-1.543 1.272A4.987 4.987 0 0012 9a4.987 4.987 0 00-3.85 1.81L6.61 9.535A6.986 6.986 0 0112 7c2.117 0 4.082.947 5.403 2.55zm3.065-2.571L18.93 8.256A8.978 8.978 0 0012 5a8.978 8.978 0 00-6.922 3.248L3.54 6.968A10.977 10.977 0 0112 3c3.315 0 6.392 1.477 8.468 3.979z" fill="#335EEA" opacity=".3"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              WiFi Management
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              We monitor and manage your wifi system with our cloud based controllers to ensure optimum uptime, security and configuration backups. 
            </p>
            
            <br>
				  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Starter</span>
                  </span>
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m0 0h24v24h-24z"/><g fill="#335eea"><path d="m3 12s2.455-6 9-6c4.91 0 9 6 9 6s-4.09 6-9 6c-6.545 0-9-6-9-6z" opacity=".3"/><path d="m12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" opacity=".3"/></g></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              ISP Monitoring
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We ping your offices internet connection every 5 minutes and take corrective measures if the internet is offline for any reason. 
            </p>
            
            <br>
             <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
        </div> <!-- / .row --> 
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M16.45 17.403l-1.272-1.543A4.987 4.987 0 0017 12a4.987 4.987 0 00-1.81-3.85l1.276-1.54A6.986 6.986 0 0119 12a6.987 6.987 0 01-2.55 5.403zm2.571 3.065l-1.277-1.539A8.978 8.978 0 0021 12a8.978 8.978 0 00-3.248-6.922l1.28-1.538A10.977 10.977 0 0123 12c0 3.315-1.477 6.392-3.979 8.468zM7.55 17.403A6.987 6.987 0 015 12c0-2.11.94-4.07 2.534-5.39L8.81 8.15A4.987 4.987 0 007 12c0 1.514.675 2.915 1.822 3.86l-1.273 1.543zm-2.57 3.065A10.977 10.977 0 011 12c0-3.31 1.473-6.383 3.969-8.46l1.279 1.538A8.978 8.978 0 003 12a8.978 8.978 0 003.256 6.93L4.98 20.467z" fill="#335EEA" opacity=".3"/><path d="M11 14.292a2.5 2.5 0 112 0V20a1 1 0 01-2 0v-5.708z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              LAN Monitoring
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              We scan and inventory all devices connected to your network to ensure critical devices are operational even if they are not externally accessible. 
            </p>
            
            <br>
             <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
          <div class="col-12 col-md-4 text-center">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m0 0h24v24h-24z"/><g fill="#335eea"><path d="m5.293 6.707a1 1 0 1 1 1.414-1.414l6 6a1 1 0 0 1 .03 1.383l-5.5 6a1 1 0 1 1 -1.474-1.352l4.853-5.294z"/><rect height="2" opacity=".3" rx="1" width="10" x="12" y="17"/></g></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              VPN Management
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              We ensure your site to site, client based, and cloud based VPN systems are working appropriately. Supporting L2TP, Cisco IPSec, Cisco Umbrella & more. 
            </p>
            
            <br>
             <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
          <div class="col-12 col-md-4 text-center">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 2.5c-.69 0-1.25.56-1.25 1.25v16.5c0 .69.56 1.25 1.25 1.25h8c.69 0 1.25-.56 1.25-1.25V3.75c0-.69-.56-1.25-1.25-1.25H8z" fill="#335EEA" opacity=".3"/><path d="M8 2.5c-.69 0-1.25.56-1.25 1.25v16.5c0 .69.56 1.25 1.25 1.25h8c.69 0 1.25-.56 1.25-1.25V3.75c0-.69-.56-1.25-1.25-1.25H8zM8 1h8a2.75 2.75 0 012.75 2.75v16.5A2.75 2.75 0 0116 23H8a2.75 2.75 0 01-2.75-2.75V3.75A2.75 2.75 0 018 1zm1.5.75h5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Phone System Management
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              We manage all aspects of your custom telephony or cloud based phone system. Supporting all protocols from VOIP, SIP to Local PBX & Asterisk. 
            </p>
            <br>
             <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Premium</span>
                  </span>

          </div>
        </div> <!-- / .row --> 
        
        
        
        
        
        
        
         
      </div> <!-- / .container -->
    </section>