---
layout: default
title: "Does your MSP lack certified Mac Experts?"
type: Organization
description: "We are a team of Mac Experts providing Mac Support for DC, MD  VA. If you need high quality MacOS or iOS support for your business or team give us a call!" 
keywords: "mac support team, mac support team dc, grove technologies support team, grove technologies team, zoom certified, outstanding customer experience, company hiring grove, dod civilian companies, zoom certified implementation, technician dedicated providing, certified implementation specialist, implementation specialist apple, specialist apple certified, apple certified technical, certified technical coordinator, expert supporting macs, supporting macs enterprise, macs enterprise speciality"
thumbnail: /assets/img/banner/mac_msp.png
image: /assets/img/banner/mac_msp.png
author: Jon Brown
ogtype: page
---

    <!-- WELCOME
    ================================================== -->
    <section class="py-8 py-md-11 mt-10">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Headin -->
            <h1 class="display-3">
              Meet Your New<br> IT Department.
            </h1>

            <!-- Text -->
            <p class="lead text-muted">
              We believe that managed partnerships and predefined technology agreements should not define or shape how we deliver support.
            </p>

          </div>
        </div> <!-- / .row -->
        
      </div> <!-- / .container -->
    </section>
    
    {% include customer.html %}
   
    <!-- IT TEAM
    ================================================== -->
    <section class="py-5 py-md-8 mt-5">
      <div class="container">
        <div class="row justify-content-center">
        
		


		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
					
					<div class="avatar avatar-xxl">
					  <img src="{{ site.site_cdn }}/assets/img/avatars/team/mikaela2.jpg" alt="Mikaela - Client Success & Project Manager - Grove Technologies" class="avatar-img rounded-circle">
					</div>
					<h6 class="bold font-l mt-2">Mikaela Donelan</h6>
					<p class="small mt-0 accent text-uppercase">Client Success & PM</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Full Time</span></span></p>
					<p class="text-center italic">Mikaela partners with clients to develop strategic solutions for their business needs. During project development, she is the voice of our clients!</p>
					
					
				 <!-- Calendly link widget begin -->
					
					<div class="row col-12">
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mikaela-donelan/phone-call'});return false;">
						<div class="icon text-primary mb-3">
							<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.386-8.787a1.462 1.462 0 01-1.688.274 1.462 1.462 0 00-1.688.274l-1.511 1.51a.5.5 0 00.195.829l1.354.451c1.3.433 2.733.095 3.702-.874l4-4c.89-.89 1.11-2.25.547-3.375l-.632-1.266a.5.5 0 00-.8-.13L13.5 8.5a1.462 1.462 0 00-.274 1.688 1.462 1.462 0 01-.274 1.688l-1.338 1.338z" fill="#335EEA"/></g></svg>
						</div>
					</a> </div> 
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mikaela-donelan/remote-appointment'});return false;">
						<div class="icon text-primary mb-3">
							<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="2" y="6" width="13" height="12" rx="2"/><path d="M22 8.414v7.172a1 1 0 01-1.707.707l-3.586-3.586a1 1 0 010-1.414l3.586-3.586A1 1 0 0122 8.414z" fill="#335EEA" opacity=".3"/></g></svg>
						</div>	
					</a> </div> 
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mikaela-donelan'});return false;">
							<div class="icon text-primary mb-3">
								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><circle fill="#335EEA" opacity=".3" cx="12" cy="12" r="10"/><path d="M12 11a2 2 0 110-4 2 2 0 010 4zm-5 5.5c.216-2.983 2.368-4.5 4.99-4.5 2.66 0 4.846 1.433 5.009 4.5.006.122 0 .5-.418.5H7.404c-.14 0-.415-.338-.404-.5z" fill="#335EEA" opacity=".3"/></g></svg>
							</div>
					</a> </div> 
					</div>
					<!-- Calendly link widget end -->
					
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 <strong>Welcome Aboard</strong> 👏</div>
			</div>
		</div>
		
		
				
		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
					
					
					<div class="avatar-group">
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/AppleRound.png" alt="Tiara Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/tiara.jpg" alt="Tiara Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>
					
					
					
					<h6 class="bold font-l mt-2">Tiara Thornton</h6>
					<p class="small mt-0 accent text-uppercase">Mac Expert</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Full Time</span></span></p>
					<p class="text-center italic">Tiara, a prior Apple trained Support Technician, is dedicated to providing great Mac Support and a outstanding customer experience.</p>
					
					
								<!-- Calendly link widget begin -->

					<div class="row col-12">
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tiaratgrovetech/phone-call'});return false;">
						<div class="icon text-primary mb-3">
							<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.386-8.787a1.462 1.462 0 01-1.688.274 1.462 1.462 0 00-1.688.274l-1.511 1.51a.5.5 0 00.195.829l1.354.451c1.3.433 2.733.095 3.702-.874l4-4c.89-.89 1.11-2.25.547-3.375l-.632-1.266a.5.5 0 00-.8-.13L13.5 8.5a1.462 1.462 0 00-.274 1.688 1.462 1.462 0 01-.274 1.688l-1.338 1.338z" fill="#335EEA"/></g></svg>
						</div>
					</a> </div> 
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tiaratgrovetech/remote-appointment'});return false;">
						<div class="icon text-primary mb-3">
							<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="2" y="6" width="13" height="12" rx="2"/><path d="M22 8.414v7.172a1 1 0 01-1.707.707l-3.586-3.586a1 1 0 010-1.414l3.586-3.586A1 1 0 0122 8.414z" fill="#335EEA" opacity=".3"/></g></svg>
						</div>	
					</a> </div> 
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tiaratgrovetech'});return false;">
							<div class="icon text-primary mb-3">
								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><circle fill="#335EEA" opacity=".3" cx="12" cy="12" r="10"/><path d="M12 11a2 2 0 110-4 2 2 0 010 4zm-5 5.5c.216-2.983 2.368-4.5 4.99-4.5 2.66 0 4.846 1.433 5.009 4.5.006.122 0 .5-.418.5H7.404c-.14 0-.415-.338-.404-.5z" fill="#335EEA" opacity=".3"/></g></svg>
							</div>
					</a> </div> 
					</div>
					<!-- Calendly link widget end -->
					
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 <strong>1 Year Workiversary</strong> 👏</div>
			</div>
		</div>
		
		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
					
					<div class="avatar-group">
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/AppleRound.png" alt="Nikki Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/GoogleRound.svg" alt="Nikki Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/nikki.jpg" alt="Nikki Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>
					

					<h6 class="bold font-l mt-2">Nikki Lewis</h6>
					<p class="small mt-0 accent text-uppercase">Mac Expert</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Contractor</span></span></p>
					<p class="text-center italic">Nikki, a prior Apple trained Support Technician, is committed to providing exceptional Mac Support and exceptional customer service.</p>
				
					<!-- Calendly link widget begin -->

					<div class="row col-12">
					<div class="col-4 text-center"> 
		
					<a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nikkilewis/phone-call'});return false;">
								<div class="icon text-primary mb-3">
									<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.386-8.787a1.462 1.462 0 01-1.688.274 1.462 1.462 0 00-1.688.274l-1.511 1.51a.5.5 0 00.195.829l1.354.451c1.3.433 2.733.095 3.702-.874l4-4c.89-.89 1.11-2.25.547-3.375l-.632-1.266a.5.5 0 00-.8-.13L13.5 8.5a1.462 1.462 0 00-.274 1.688 1.462 1.462 0 01-.274 1.688l-1.338 1.338z" fill="#335EEA"/></g></svg>
								</div>
					</a> </div> 
					<div class="col-4 text-center"> 
		
					<a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nikkilewis/remote-appointment'});return false;">
								<div class="icon text-primary mb-3">
									<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="2" y="6" width="13" height="12" rx="2"/><path d="M22 8.414v7.172a1 1 0 01-1.707.707l-3.586-3.586a1 1 0 010-1.414l3.586-3.586A1 1 0 0122 8.414z" fill="#335EEA" opacity=".3"/></g></svg>
								</div>
					</a> </div> 
					<div class="col-4 text-center"> 
		
					<a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nikkilewis'});return false;">
								<div class="icon text-primary mb-3">
									<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><circle fill="#335EEA" opacity=".3" cx="12" cy="12" r="10"/><path d="M12 11a2 2 0 110-4 2 2 0 010 4zm-5 5.5c.216-2.983 2.368-4.5 4.99-4.5 2.66 0 4.846 1.433 5.009 4.5.006.122 0 .5-.418.5H7.404c-.14 0-.415-.338-.404-.5z" fill="#335EEA" opacity=".3"/></g></svg>
								</div>
					</a> </div> 
					</div>
					<!-- Calendly link widget end -->
		
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 <strong>Welcome Aboard</strong> 👏</div>
			</div>
		</div>


		
		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
				
					<div class="avatar-group">
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/AppleRound.png" alt="Tiara Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					   <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/JAMFRound.png" alt="Tiara Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/chris.jpg" alt="Chris Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>
					
					
					
					<h6 class="bold font-l mt-2">Chris Sanborn</h6>
					<p class="small mt-0 accent text-uppercase">Mac Expert</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Contractor</span></span></p>
					<p class="text-center italic">Chris helps support the needs of our enterprise customers and small business clients.  </p>
					
								<!-- Calendly link widget begin -->

					<div class="row col-12">
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/chris-grovetech/phone-call'});return false;">
						<div class="icon text-primary mb-3">
							<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.386-8.787a1.462 1.462 0 01-1.688.274 1.462 1.462 0 00-1.688.274l-1.511 1.51a.5.5 0 00.195.829l1.354.451c1.3.433 2.733.095 3.702-.874l4-4c.89-.89 1.11-2.25.547-3.375l-.632-1.266a.5.5 0 00-.8-.13L13.5 8.5a1.462 1.462 0 00-.274 1.688 1.462 1.462 0 01-.274 1.688l-1.338 1.338z" fill="#335EEA"/></g></svg>
						</div>
					</a> </div> 
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/chris-grovetech/remote-appointment'});return false;">
						<div class="icon text-primary mb-3">
							<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="2" y="6" width="13" height="12" rx="2"/><path d="M22 8.414v7.172a1 1 0 01-1.707.707l-3.586-3.586a1 1 0 010-1.414l3.586-3.586A1 1 0 0122 8.414z" fill="#335EEA" opacity=".3"/></g></svg>
						</div>	
					</a> </div> 
					<div class="col-4 text-center"> <a href="" class="link small" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/chris-grovetech'});return false;">
							<div class="icon text-primary mb-3">
								<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><circle fill="#335EEA" opacity=".3" cx="12" cy="12" r="10"/><path d="M12 11a2 2 0 110-4 2 2 0 010 4zm-5 5.5c.216-2.983 2.368-4.5 4.99-4.5 2.66 0 4.846 1.433 5.009 4.5.006.122 0 .5-.418.5H7.404c-.14 0-.415-.338-.404-.5z" fill="#335EEA" opacity=".3"/></g></svg>
							</div>
					</a> </div> 
					</div>
					<!-- Calendly link widget end -->
					
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 <strong>Welcome to the Team!</strong> 👏</div>
			</div>
		</div>


		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
				
					<div class="avatar-group">
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/AppleRound.png" alt="Tiara Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/zoom-logo-round.png" alt="Tiara Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/chad.jpg" alt="Chad Mac Expert - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>
					

					<h6 class="bold font-l mt-2">Chad Gordon</h6>
					<p class="small mt-0 accent text-uppercase">AV & Mac Expert</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Contractor</span></span></p>
					<p class="text-center italic">Chad is our in house ZOOM certified implementation specialist as well as Apple certified technical coordinator and support professional.</p>
				
				</div>
			</div>
		</div>

		
		 
		
		
		
			</div>
	  </div> <!-- / .container -->
	</section>
	
	
    
    
    
	
	
	
        
    
	<a id="cmmteam"></a>
	
		<!-- CMMC TEAM INTRO
    ================================================== -->
    <section class="py-8 mt-5 border-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            <!-- Heading -->
            <h2>
              Meet your vCISO Compliance Team
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-3 mb-md-5">
              Our team is comprised of the best in class cybersecurity professionals who are seasoned to advise on NIST, SOC2, ISO and more. We can take you from a strategic plan, through systems engineering and penn testing. 
            </p>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    
	 <!-- CMMC TEAM
    ================================================== -->
    
	<section class="py-5 mt-6">
      <div class="container">
        <div class="row justify-content-center">
        
        
        
        		

       
	
	<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
					<div class="avatar-group">
					<div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rpo.png" alt="Jon Brown - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rp.png" alt="Jon Brown - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/jon.jpg" alt="Jon Brown - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>
					<h6 class="bold font-l mt-2">Jon Brown</h6>
					<p class="small mt-0 accent text-uppercase">CEO & <a href="https://portal.cmmcab.org/marketplace/jonathan-brown/">CMMC RP</a></p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Full Time</span></span></p>
					<p class="text-center italic">Jon is a charismatic leader, entrepreneur, teacher & mentor who helps businesses take their <a href="{{site.site_cdn}}/products/hosted/fleet/">Mac</a>, <a href="{{site.site_cdn}}/products/ciso/">Cybersecurity</a> & <a href="{{site.site_cdn}}/products/hosted/network/">Networks</a> to the next level.</p>
				
		



				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 🎉 🎉 <strong>Congratulations!</strong> 👏 👏 👏</div>
			</div>
		</div>
		
		
		
		<div class="col-md-6 col-lg-4 mb-5">
		
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
				
					<div class="avatar-group">
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rp.png" alt="Mike Tedesco - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/CISSPRound.png" alt="Mike Tedesco CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/mike.jpg" alt="Mike Tedesco CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>

					<h6 class="bold font-l mt-2">Michael Tedesco</h6>
					<p class="small mt-0 accent text-uppercase">CISO, CISSP & <a href="https://portal.cmmcab.org/marketplace/michael-tedesco/">CMMC RP</a></p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Contractor</span></span></p>
					<p class="text-center italic">With a background in the US Coast Guard, Michael helps the needs of our Government companies stay within the boundaries of compliance. </p>
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 Congratulations - CMMC RP! 👏</div>
			</div>
		</div>
		
		
		<div class="col-md-6 col-lg-4 mb-5">
		
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
				
					<div class="avatar-group">
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rp.png" alt="Mike Tedesco - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/ingrum.jpg" alt="Ingrum Jefferson CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					 </div>

					<h6 class="bold font-l mt-2">Ingrum Jefferson</h6>
					<p class="small mt-0 accent text-uppercase">CISO, CEH, <a class="underline" href="https://cmmcab.org/marketplace/ingrum-jefferson/" rel="noreferrer" target="_blank">CMMC RP</a></p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Contractor</span></span></p>
					<p class="text-center italic">With over 20+ years of experience, he holds a Masters in Cybersecurity as well as certifications including Certified Ethical Hacker and FEMA OT. </p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-lg-4 mb-5">
		
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
				
					<div class="avatar-group">
					<div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rp.png" alt="Victoria Arkhurst CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/CISSPRound.png" alt="Victoria Arkhurst CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/isaca.jpg" alt="Victoria Arkhurst CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/victoria.jpg" alt="Victoria Arkhurst CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					</div>

					<h6 class="bold font-l mt-2">Victoria Arkhurst</h6>
					<p class="small mt-0 accent text-uppercase">CISO, <a href="https://portal.cmmcab.org/marketplace/victoria-arkhurst/">CMMC RP</a>, CISSP, CDPSE, CISA</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Partner</span></span></p>
					<p class="text-center italic">Victoria Arkhurst, a vCISO and managing partner of IRM Consulting & Advisory, is partnering with us to provide amazing vCISO services.   </p>
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 Congratulations - CMMC RP! 👏</div>
			</div>
		</div>
		
		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-border border-success shadow-light-lg">
				<div class="card-body d-flex flex-column align-items-center">
					
					
					 
					  <div class="avatar avatar-xxl">
						<img src="{{ site.site_cdn }}/assets/img/avatars/team/vince.jpg" alt="Vince Borho CISO - Grove Technologies" class="avatar-img rounded-circle">
					  </div>
					
					
					
					<h6 class="bold font-l mt-2">Vince Borho</h6>
					<p class="small mt-0 accent text-uppercase">Systems Engineer, CISO</p>
					<p class="small mt-0 accent text-uppercase"><span class="badge rounded-pill bg-success-soft"> <span>Contractor</span></span></p>
					<p class="text-center italic">Senior Systems Engineer & SaaS subject matter expert with 20+ years experience in enterprise systems administration, deployment and optimization.</p>
				
				</div>
				<div class="card-footer text-center" style="margin-top: -25px; background-color: #f4d784; padding: 2px; display: none;">🎉 <strong>Welcome to the Team!</strong> 👏</div>
			</div>
		</div>
		

	
		
		
		
			</div>
	  </div> <!-- / .container -->
	</section>
	
	

    
    
	
	<!-- CERTIFICATIONS
    ================================================== -->
    <section class="py-5 py-md-8 mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            <!-- Heading -->
            <h2>
              All of our team members are fully vetted and certified by Apple, Mosyle, & More.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              The Grove experience is what sets us apart from the rest. Our white glove service is for all clients not just the ones with the deepest pockets. Learn a little bit about what you can expect from us as a client of Grove Technologies.
            </p>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
	{% include certifications.html %}

	
	{% include contact/contact-home.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>