    <!-- PERKS (CAROUSEL)
    ================================================== -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Flickity -->
            
            
            <div class="flickity-viewport-visible pt-2 pb-9" data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'>
             
			 <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #F45D48;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/Gusto.svg" alt="Gusto" style="margin-top: -40px; margin-bottom: -40px;">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Automated Payroll, Benefits, Expense Management, Time Off Requests & Employee Portal.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
             
			 <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3e3d3f;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/Carefirst.svg" alt="CareFirst">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      We provide the best healthcare coverage you can get nationwide via the CareFirst Blue Cross program. 
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
  			<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #1660a3;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/Guardian.svg" alt="Guardian Life & Dental">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     All full time employees are eligible for Guardian Dental and we provide free Life Insurance to our employees.
                    </p>
                    
                  </div>
                </div>

              </div>
              
 			<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #009ee1;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 mt-2 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/VSP-Logo-1.png" alt="VSP Insurance"  style="margin-top: -20px;">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     VSP Vision Insurance is provided to all eligible employees. 
                     </p>
                    
                  </div>
                </div>

              </div>
              
              
      	 	<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3a4258;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/Guideline.svg" alt="Guideline 401K">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      We are proud to offer a 401K program that includes a 3% match to all qualified employees. 
                    </p>
                    
                  </div>
                </div>

              </div>
                       
      
     	 	<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #f7981d;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/Gradvisor.svg" alt="Gradvisor">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Gradvisor allows our employees to save for their child's College via their state's college savings plan. 
                    </p>
                    
                  </div>
                </div>

              </div>
              
                 
             <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #2b3644;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/PerkUp.svg" alt="PerkUp">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      We give each employee a stipend they can use monthly on lunches, education, office supplies and more!
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
            <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3da9d4;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/perks/Bonusly.svg" alt="Bonusly">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      We're always looking for ways we can improve our culture. With Bonusly we encourage a positive atmosphere.
                    </p>
                    
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>