    <!-- PARNTERS (CAROUSEL)
    ================================================== -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Flickity -->
            <div class="flickity-viewport-visible pt-2 pb-9" data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'>
            
           
              
               <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #4a8cff;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-80 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/acsp11_gr.svg" alt="Apple Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      The ACSP 11.0 certification is for the help desk professional who provides tech support for Mac users.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3e3d3f;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/apple-consultant.svg" alt="Apple Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      All of our technicians are trained under the framework provided by Apple via the Apple Consultants Network.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #14a19c;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #14a19c;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/jumpcloud.png" alt="Jumpcloud MSP Partner">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     Core certification validates the knowledge needed to execute & implement configurations across the JumpCloud platform.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #2abfd0;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #2abfd0;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/addigy.svg" alt="Addigy MSP Partner">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                    We truly understand the Addigy Cloud-based platform and the tools it brings to managing Apple devices. 
                    </p>
                    
                  </div>
                </div>

              </div>
              
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #4a8cff;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-80 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/acsp1015_gr.svg" alt="Apple Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      The ACSP 10.15 certification is for the help desk professional who provides tech support for Mac users.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #86b7f0;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #86b7f0;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/mosyle.svg" alt="Moysle MSP Partner">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     As a Mosyle MSP Partner we can help you integrate and implement Mosyle for your Mac fleet at a great price.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #0090d1;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #EEEEEE;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/vmware.svg" alt="VMWare Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     All of our technicians have taken the VMWare Workplace One Fundamentals course & are familiar with Airwatch. 
                    </p>
                    
                  </div>
                </div>

              </div>
               <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #778eb1;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #778eb1;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/jamf.svg" alt="JAMF Certified">
                    </div>


                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Our JAMF experts help organizations succeed with JAMF & Apple deployments.
                    </p>
                    
                  </div>
                </div>

              </div>
              
               <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #4a8cff;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-80 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/acsp1014_gr.svg" alt="Apple Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      The ACSP 10.14 certification is for the help desk professional who provides tech support for Mac users.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: red;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #B81D24;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/comptia.svg" alt="A+ Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     A+ (A Plus) is an entry-level computer certification for PC computer service technicians which we hold. 
                    </p>
                    
                  </div>
                </div>

              </div>
             
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #1088e7;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #6772E5;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/wireless-certified.jpg" alt="Wireless Certified">
                    </div>


                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Grove is a Certified Wireless Network Administrator. A CWNP network certification.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #2178cf;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 mt-4 w-50 svg-shim mx-auto" style="color: #CB2027;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/zoom.svg" alt="ZOOM Certified">
                    </div>


                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     Grove is a ZOOM Integrator. We help our customers adopt and use Zoom video conferencing solutions.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #68686b;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mt-1 mb-5 w-50 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/security-certified.png" alt="Security Certified">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Grove has two Security+ certified professionals on our comprehensive cyber security team.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #24a4ec;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-25 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cissp.svg" alt="CISSP Certification">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Grove has two certified CISSP professionals with a combined decade of cloud security experience.
                    </p>
                    
                  </div>
                </div>

              </div>
             
              
              
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>