	    <!-- CTA
    ================================================== -->
    <section class="bg-black">
      <div class="container py-6 py-md-8 border-top border-bottom border-gray-900-50">
        <div class="row align-items-center">
          
          <div class="col-12 col-md">

			<div class="row align-items-center">
				<div class="col-3 col-md-3 d-none d-md-block d-lg-block">
				<a href="https://portal.cmmcab.org/marketplace/grove-technologies-rpo/" alt="CMMC-AB Marketplace Verification">
					<div class="avatar-group">
					  <div class="avatar avatar-xxxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rp.png" alt="CMMC RP - Grove Technologies" class="avatar-img rounded-circle" width="125">
					  </div>
					  <div class="avatar avatar-xxxl">
						<img src="{{ site.site_cdn }}/assets/img/logos/certs/cmmc-rpo.png" alt="CMMC RPO - Grove Technologies" class="avatar-img rounded-circle" width="125">
					  </div>
					</div>
				</a>
					
          			
          		</div>
          		<div class="col-9 col-md-9 col-sm-12 col-xs-12">
					<!-- Heading -->
					<h3 class="fw-bold text-white mb-1">
					 Grove Technologies Now Offering full CMMC Consulting Services
					</h3>

					<!-- Text -->
					<p class="font-size-lg text-muted mb-5 mb-md-0">
					 Now offering <a href="https://portal.cmmcab.org/marketplace/grove-technologies-rpo/" alt="CMMC-AB Marketplace Verification">CMMC Consulting Services</a>! Grove Technologies is the only DC, Mac based MSP listed on the GSA Schedule. We have helped hundreds of companies in the private sector and now we are poised to help you. 
					</p>
				</div>
			</div>
			
          </div>
          <div class="col-12 col-md-auto">

            <!-- Button -->
            <a href="{{site.site_cdn}}/products/security/cmmc/" class="btn btn-primary lift">
              Learn More
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>