    <!-- INFO
    ================================================== -->
    <section class="py-5 py-md-6 m-9" id="info">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center border-end border-gray-300">
            
            <!-- Heading -->
            <h6 class="text-uppercase text-gray-700 mb-1">
              Message Us (SMS)
            </h6>

            <!-- Link -->
            <div class="mb-5 mb-md-0">
              <a href="tel:+12404518688" title="Text Us" class="h4 text-primary">
                (240) 451-8688
              </a>
            </div>

          </div>
          <div class="col-12 col-md-4 text-center border-end border-gray-300">
            
            <!-- Heading -->
            <h6 class="text-uppercase text-gray-700 mb-1">
              Call Us
            </h6>

            <!-- Link -->
            <div class="mb-5 mb-md-0">
              <a href="tel:+18882539103" title="Call Us" class="h4">
                (888) 253-9103
              </a>
            </div>

          </div>
          <div class="col-12 col-md-4 text-center">
            
            <!-- Heading -->
            <h6 class="text-uppercase text-gray-700 mb-1">
              Email us
            </h6>

            <!-- Link -->
            <a href="matilto:support@grovetech.co" class="h4">
              support@grovetech.co
            </a>

          </div>
        </div> <!-- / .row -->
      </div>
    </section>