<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white border-bottom">
      <div class="container">
    
        <!-- Brand -->
        <a class="navbar-brand" href="{{ site.site_cdn }}/">
          <img src="{{ site.site_cdn }}/assets/img/header-icon.png" class="navbar-brand-nav" alt="Grove Technologies">
        </a>
    
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
    
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>
    
          <!-- Navigation -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link"  href="https://support.grovetech.co/" target="_new">
                Support
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
                <div class="row gx-0">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-4">

                        <!-- Heading -->
                        <h6 class="dropdown-header py-3">
                          Security
                        </h6>

                        <!-- List -->
                        <a class="dropdown-item" href="{{ site.site_cdn }}/products/security/training/" title="Security Training">
                          Security Training
                        </a>
                        
                       
                      </div>
                      <div class="col-12 col-md-4 pb-3">

                        <!-- Heading -->
                        <h6 class="dropdown-header py-3">
                          Strategy <span class="h6 text-uppercase text-primary">(new)</span>
                        </h6>

                        <!-- List -->
                       <a class="dropdown-item" href="{{ site.site_cdn }}/products/security/cmmc/" title="CMMC Consulting">
                          CMMC Consulting
                        </a>
                        <a class="dropdown-item" href="{{ site.site_cdn }}/products/ciso/" title="Virtual CISO">
                          Virtual CISO
                        </a>
                        

                      </div>
                      <div class="col-12 col-md-4 pb-3">

                        <!-- Heading -->
                        <h6 class="dropdown-header py-3">
                          Managed
                        </h6>
                        <!-- List -->
                        <a class="dropdown-item" href="{{ site.site_cdn }}/products/hosted/fleet/" title="Mac Support">
                          Mac Support
                        </a>
                        <a class="dropdown-item" href="{{ site.site_cdn }}/products/hosted/network/" title="Network Services">
                          Network Support
                        </a>
						

                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- / .row -->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarPricing" data-toggle="dropdown" href="{{ site.site_cdn }}/pricing" title="Pricing" aria-haspopup="true" aria-expanded="false">
                Pricing
              </a>
              <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarPricing">
                <div class="list-group list-group-flush">
                  <a class="list-group-item" href="{{ site.site_cdn }}/pricing/" title="Mac Support">

                    <!-- Icon -->
                    <div class="icon icon-sm text-primary">
                      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5 5v11h14V5H5zm0-2h14c1.42 0 2 .716 2 1.6v12.8c0 .884-.58 1.6-2 1.6H5c-1.42 0-2-.716-2-1.6V4.6C3 3.716 3.58 3 5 3zm7 15a.5.5 0 100-1 .5.5 0 000 1z" fill="#335EEA"/><path fill="#335EEA" opacity=".3" d="M5 5v11h14V5z"/><rect fill="#335EEA" opacity=".3" x="10" y="20" width="4" height="1" rx=".5"/></g></svg>
                    </div>

                    <!-- Content -->
                    <div class="ms-4">

                      <!-- Heading -->
                      <h6 class="fw-bold text-uppercase text-primary mb-0">
                        Mac Support
                      </h6>

                      <!-- Text -->
                      <p class="fs-sm text-gray-700 mb-0">
                        Managing Mac Fleets of All Sizes
                      </p>

                    </div>

                  </a>
                  <a class="list-group-item" href="{{ site.site_cdn }}/pricing/network/" title="Managed Networks">

                    <!-- Icon -->
                    <div class="icon icon-sm text-primary">
                      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M19.366 13.93l-2.104 1.736a6.8 6.8 0 00-5.264-2.484 6.8 6.8 0 00-5.25 2.469l-2.1-1.741a9.527 9.527 0 017.35-3.455 9.527 9.527 0 017.368 3.476zm4.18-3.504l-2.099 1.742a12.242 12.242 0 00-9.449-4.44c-3.695 0-7.12 1.641-9.44 4.428L.463 10.412A14.969 14.969 0 0111.998 5c4.521 0 8.716 2.014 11.548 5.426z" fill="#335EEA" opacity=".3"/><path d="M15.119 17.354l-2.08 1.765-1.077.881-1.029-.851-2.128-1.706a4.085 4.085 0 013.193-1.534c1.217 0 2.35.536 3.121 1.445z" fill="#335EEA"/></g></svg>
                    </div>

                    <!-- Content -->
                    <div class="ms-4">

                      <!-- Heading -->
                      <h6 class="fw-bold text-uppercase text-primary mb-0">
                        Network Support
                      </h6>

                      <!-- Text -->
                      <p class="fs-sm text-gray-700 mb-0">
                        Managing Networks of All Sizes
                      </p>

                    </div>

                  </a>
                  
                  <a class="list-group-item" href="{{ site.site_cdn }}/pricing/government/" title="Government">

                    <!-- Icon -->
                    <div class="icon icon-sm text-primary">
						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M4 4l7.631-1.43a2 2 0 01.738 0L20 4v9.283a8.51 8.51 0 01-4 7.217l-3.47 2.169a1 1 0 01-1.06 0L8 20.5a8.51 8.51 0 01-4-7.217V4z" fill="#335EEA" opacity=".3"/><path d="M14.5 11a1 1 0 011 1v3a1 1 0 01-1 1h-5a1 1 0 01-1-1v-3a1 1 0 011-1v-.5a2.5 2.5 0 115 0v.5zM12 9a1.5 1.5 0 00-1.5 1.5v.5h3v-.5A1.5 1.5 0 0012 9z" fill="#335EEA"/></g></svg>
                    </div>

                    <!-- Content -->
                    <div class="ms-4">

                      <!-- Heading -->
                      <h6 class="fw-bold text-uppercase text-primary mb-0">
                        Government
                      </h6>

                      <!-- Text -->
                      <p class="fs-sm text-gray-700 mb-0">
                        Supporting our Federal Agencies
                      </p>

                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarBlog" data-toggle="dropdown" href="{{ site.site_cdn }}/blog" title="Mac Support Blog" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarBlog">
            		<div class="list-group list-group-flush">

                        <!-- List -->
                        <a class="list-group-item" href="{{ site.site_cdn }}/blog/" title="Mac Support Blog">
                        
						<!-- Icon -->
						<div class="icon icon-sm text-primary">
						  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
						</div>

						<!-- Content -->
						<div class="ms-4">

						  <!-- Heading -->
						  <h6 class="fw-bold text-uppercase text-primary mb-0">
							 Mac Support Blog <span class="h6 text-uppercase text-primary">(new)</span>
						  </h6>

						  <!-- Text -->
						  <p class="fs-sm text-gray-700 mb-0">
							Check Back for New Posts Weekly.
						  </p>
						</div>
                        </a>
                        <a class="list-group-item" href="{{ site.site_cdn }}/blog/category/downloads/" title="E-Books For Download">
                        <!-- Icon -->
						<div class="icon icon-sm text-primary">
						  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M13.686 18.708C15.91 17.82 18.683 17.25 22 17V5.506a.5.5 0 00-.513-.5C18.658 5.078 15.83 5.743 13 7v11.244a.5.5 0 00.686.464z" fill="#335EEA"/><path d="M2.686 18.708C4.91 17.82 7.683 17.25 11 17V5.506a.5.5 0 00-.513-.5C7.658 5.078 4.83 5.743 2 7v11.244a.5.5 0 00.686.464z" fill="#335EEA" opacity=".3"/></g></svg>
						</div>

						<!-- Content -->
						<div class="ms-4">

						  <!-- Heading -->
						  <h6 class="fw-bold text-uppercase text-primary mb-0">
							 E-Books For Download
						  </h6>

						  <!-- Text -->
						  <p class="fs-sm text-gray-700 mb-0">
							Resources for Your Business.
						  </p>
						</div>

                        </a>

                    </div>
              </div>
            </li>
          </ul>
    
          <!-- Button -->
          <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="https://portal.grovetech.co/" target="_blank" title="Login to Client Portal">
            Login
          </a>
    
        </div>
    
      </div>
    </nav>