    <!-- PARNTERS (CAROUSEL)
    ================================================== -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Flickity -->
            <div class="flickity-viewport-visible pt-2 pb-9" data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'>
             
			 <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3e3d3f;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/jamf.svg" alt="JAMF">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      JAMF is the industry standard when it comes to the management of iOS devices, macOS computers, and tvOS devices.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
  			<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #1660a3;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/intune.svg" alt="MICROSOFT INTUNE">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     Get endpoint security, device management, and intelligent cloud actions in a unified management platform with Microsoft Intune.
                    </p>
                    
                  </div>
                </div>

              </div>
              
 			<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #009ee1;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 mt-2 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/unifi.png" alt="UNIFI">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                     Ubiquiti Networks (UBNT) provides a variety of high-end wireless networking products that utilize our innovative and ground-breaking wireless technology.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
      	 	<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3a4258;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/1password.png" alt="ONEPASSWORD">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      1Password is the easiest way to store and use strong passwords. Log in to sites and fill forms securely with a single click.
                    </p>
                    
                  </div>
                </div>

              </div>
                       
      
     	 	<div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #f7981d;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/kandji.png" alt="KANDJI">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      The industry’s first MDM with pre-built, one-click templates that automatically apply and remediate device controls for CIS compliance.
                    </p>
                    
                  </div>
                </div>

              </div>
              
                 
             <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #2b3644;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/domotz.svg" alt="DOMOTZ">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Remote Network Monitoring & Management for an IoT World. Best in class office network detection, monitoring and protection.
                    </p>
                    
                  </div>
                </div>

              </div>
              
              
            <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3da9d4;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/mosyle.png" alt="MOSYLE">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Powerful iPhone, iPad, Apple TV and Mac management software to make your life easier while reducing overall IT costs of your business.
                    </p>
                    
                  </div>
                </div>

              </div>
              
             <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #3a80f7;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
						<img src="{{ site.site_cdn }}/assets/img/brands/automox.svg" alt="AUTOMOX">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Automox is the easiest-to-use, most-recommended, most efficient cloud-native solution for endpoint hardening.
                    </p>
                    
                  </div>
                </div>

              </div>
             
              
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: red;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #B81D24;">
						<img src="{{ site.site_cdn }}/assets/img/brands/google_cloud.svg" alt="Google Cloud">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      All of our internal cloud infrastructure is hosted in the Google Cloud and many clients systems as well.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: blue;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #0081C9;">
						<img src="{{ site.site_cdn }}/assets/img/brands/onsip.svg" alt="Onsip">
                    </div>


                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Our VOIP / SIP Phone system provider of choice. With a fully cloud hosted backend its easy to manage and setup.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #1088e7;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #6772E5;">
						<img src="{{ site.site_cdn }}/assets/img/brands/signeasy.svg" alt="SignEasy">
                    </div>


                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      If you are looking for an easier to use e-signature platform check out SignEasy works online and for iOS.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #2178cf;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #CB2027;">
						<img src="{{ site.site_cdn }}/assets/img/brands/malwarebytes.svg" alt="Malwarebytes">
                    </div>


                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Malwarebytes is the best Malware detection platform for MacOS. We include with our support plans. 
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #68686b;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/brands/sonicwall.svg" alt="Sonicwall">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      One of the most flexible and versatile firewall platforms available on the market today, most of our clients deploy these in their offices.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #f5831f;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/brands/aruba.svg" alt="Aruba">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      Aruba by HP is an amazing wireless platform offering enterprise functionality at a small business price-point.
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #24a4ec;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/brands/simplemdm.svg" alt="SimpleMDM">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      A MDM that lives up to its name. It allows you with VPP, DEP and Profile management without the bloat. 
                    </p>
                    
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-5 col-lg-4">
                
                <!-- Card -->
                <div class="card card-border shadow-light-lg lift lift-lg" style="border-top-color: #4a8cff;">
                  <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" style="color: #DA5988;">
						<img src="{{ site.site_cdn }}/assets/img/brands/zoom.svg" alt="ZOOM">
                    </div>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                      ZOOM is a best in class video and audio conferencing solution. We implement ZOOM and ZOOM Rooms often for our clients.
                    </p>
                    
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>