---
layout: default
title: "The Grove experience is what sets us apart"
type: LocalBusiness
description: "No one can touch our client experience, because we're Washington DC's best Mac Support company for Digital Agencies, Creative Professionals & More!" 
keywords: "mac support dc, grove helps mac, mac pc fleet, help touch mac, touch mac support, mac support team, training strategy strategic, grove technologies, training strategic foundation, support documentation monitoring, proactive support offer, support offer proactive, offer proactive support, proactive support provide, support provide routine, infection proactive support, businesses sizes security, security tools asset, management security tools, fleet management security, staff augmentation security, system stability security, award winning security, augmentation security services"
thumbnail: /assets/img/banner/mac_msp.png
image: /assets/img/banner/mac_msp.png
author: Jon Brown
ogtype: page
---

    <!-- WELCOME
    ================================================== -->
    <section class="position-relative pt-12 pt-md-14 mt-n11">

      <!-- Shape -->
      <div class="shape shape-fluid-x shape-blur-2 svg-shim text-light">
        <svg viewBox="0 0 1313 768" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M442.794 768c163.088 0 305.568-88.227 382.317-219.556l.183.556s.249-.749.762-2.181a440.362 440.362 0 0033.192-71.389C901.996 397.81 989.306 277.09 1144.29 206l-.92-.693C1230.34 171.296 1295.63 94.049 1312.83 0H1.294v295.514c-.663 9.909-1 19.908-1 29.986 0 244.386 198.114 442.5 442.5 442.5z" fill="currentColor"/></svg>
      </div>

      <!-- Content -->
      <div class="container mt-10">
        <div class="row align-items-center text-center text-md-left">
          <div class="col-12 col-md-6">
            
            <!-- Image -->
            <img src="{{ site.site_cdn }}/assets/img/illustrations/illustration-3.png" alt="Illustration Grove Experience" class="img-fluid mw-130 float-end mb-6 mb-md-0" data-aos="fade-right">

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Heading -->
            <h1 class="display-2 fw-bold">
              <div data-aos="fade-left">The Grove <br>Client Experience</div>
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-0" data-aos="fade-left" data-aos-delay="200">
              The Grove experience is what sets us apart from the rest. Our white glove service is for all clients not just the ones with the deepest pockets. 
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- HUB
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center" data-aos="fade-up">
            
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M15.784 14l-2.806 2.806-5.15-5.15a4 4 0 010-5.656L14 12.172V8a6 6 0 016-6v12h-4.216z" fill="#335EEA" opacity=".3"/><path d="M5.5 12h13a4.5 4.5 0 110 9h-13a4.5 4.5 0 110-9zm14 6a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Great Tools
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Grove offers a stack of solutions to meet every need. A client portal that allows you to keep tabs on all your systems. Coupled with our Mac support perfect for Startups and Small Businesses, and tailored to your needs.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M12.843 16h-1.686l-.172.64a4.547 4.547 0 01-8.784-2.354l1.72-6.418A4.547 4.547 0 0112 6.383a4.547 4.547 0 018.08 1.484l1.719 6.419a4.547 4.547 0 01-8.784 2.353L12.843 16zm4.613 2.105c1.507 0 2.729-1.267 2.729-2.83 0-1.564-1.222-2.831-2.729-2.831-1.506 0-2.728 1.267-2.728 2.83 0 1.564 1.222 2.831 2.728 2.831zm-10.912 0c1.506 0 2.728-1.267 2.728-2.83 0-1.564-1.222-2.831-2.728-2.831-1.507 0-2.729 1.267-2.729 2.83 0 1.564 1.222 2.831 2.729 2.831z" fill="#335EEA"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Realtime Transparency
            </h3>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Right from the portal you can see all your invoices, estimates, inventory, network status, managed systems, upcoming appointments and more. You can see the status of all of your fleet in real time. 
            </p>

          </div>
          <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
              
            <!-- Icon -->
            <div class="icon text-primary mb-3">
				<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
            </div>

            <!-- Heading -->
            <h3>
              Automatic Inventory
            </h3>

            <!-- Text -->
            <p class="text-muted mb-0">
              Our tools automatically detect changes in your inventory to keep your list as accurate and up to date and as automated as possible. Health check indicators show you the health level of all your systems.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- ABOUT
    ================================================== -->
    <section class="py-8 py-md-11 bg-gray-200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            
            <!-- Heading -->
            <h2 class="fw-bold">
              Jumpstart your business <br>with the right tools. 
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              No matter what you're working on, who you're with, or how many of you there are, we offer a stack of solutions to meet your needs.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">
            
            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">
                  
                  <!-- Image -->
                  <img src="{{ site.site_cdn }}/assets/img/illustrations/illustration-8.png" class="h-75 position-absolute right-0 mt-7 me-n4" alt="Website Image">

                </div>
                <div class="col-md-8">
                  
                  <!-- Body -->
                  <div class="card-body py-7 py-md-9 text-center">
                    
                    <!-- Heading -->
                    <h4 class="fw-bold">
                      Managed Fleet
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Simplicity is key. We provide modern Mac management solutions to ensure your always protected, managed and accessible. 
                    </p>
                    
                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
          <div class="col-12 col-lg-6 d-lg-flex pb-1 mb-4">
            
            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center" data-aos="fade-up">
              <div class="row">
                <div class="col-md-8">
                  
                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">
                    
                    <!-- Heading -->
                    <h4 class="fw-bold">
                      Security Built-In
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      Backed by our award winning team is our approach to security proactively guarding against malware. Included on all Mac support plans.
                    </p>
                    
                  </div>

                </div>
                <div class="col-md-4">
                  
                  <!-- Image -->
                  <img src="{{ site.site_cdn }}/assets/img/illustrations/illustration-6.png" class="h-75 position-absolute left-0 mt-7" alt="Website Image">

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            
            <!-- Card -->
            <div class="card shadow-light-lg overflow-hidden text-center text-lg-left" data-aos="fade-up">
              <div class="row">
                <div class="col-md-4 position-relative">
                  
                  <!-- Image -->
                  <img src="{{ site.site_cdn }}/assets/img/illustrations/illustration-2.png" class="h-75 position-absolute right-0 mt-6" alt="Website Image">

                </div>
                <div class="col-md-8">

                  <!-- Body -->
                  <div class="card-body py-7 py-md-9">
                  
                    <!-- Heading -->
                    <h4 class="fw-bold">
                      Award Winning Support
                    </h4>

                    <!-- Text -->
                    <p class="text-muted mb-0">
                      We offer more than an Enterprise solution, we offer peace of mind. IT and technology problems can crop up at any time and when they do rest assured we either already know about it or we are prepared to handle the issue quickly. Responsiveness, professionalism and dedication are hallmarks we take pride in. 
                    </p>

                  </div>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- COMPANIES
    ================================================== -->
    <section class="py-5 py-md-8 mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            <!-- Heading -->
            <h2>
              We strive to work with the best. <br/>
              The best companies in the world.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7 mb-md-9">
              The Grove experience is what sets us apart from the rest. Our white glove service is for all clients not just the ones with the deepest pockets. Learn a little bit about what you can expect from us as a client of Grove Technologies.
            </p>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
	{% include partners.html %}

    <!-- ABOUT
    ================================================== -->
    
    <section class="pt-8 pt-md-13">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Preheading -->
            <h6 class="text-uppercase text-primary fw-bold">
              Complete visibility
            </h6>

            <!-- Heading -->
            <h1 class="fw-bold">
               Our client portal <br>keeps you informed.
            </h1>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-7">
              Right from the portal you can see all your invoices, estimates, inventory, network status, managed systems, upcoming appointments and more. You can see the status of all of your fleet in real time.
            </p>
            
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 order-md-2">
            
            <!-- Macbook + iPhone -->
            

              <!-- Macbook -->
              <div class="device device-macbook">
                <img src="{{ site.site_cdn }}/assets/img/screens/experience/portal.png" class="device-screen" alt="Website Image">
                <img src="{{ site.site_cdn }}/assets/img/devices/macbook.svg" class="img-fluid" alt="Website Image">
              </div>

             
              
            

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    


    <!-- STATS
    ================================================== -->
    <section class="py-8 pt-md-11 pb-md-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            
            <!-- Heading -->
            <h1 class="display-2 fw-bold text-primary-desat">
              <span data-toggle="countup" data-from="0" data-to="99.99" data-aos data-aos-id="countup:in">0</span>%
            </h1>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Customer satisfaction and rating. Folks love Grove and refer us often.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
            
            <!-- Heading -->
            <h1 class="display-2 fw-bold text-primary-desat">
              <span data-toggle="countup" data-from="00.0" data-to="99.9" data-decimals="1" data-aos data-aos-id="countup:in">00.0</span>%
            </h1>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-0">
              Guaranteed uptime for all of our services no matter what.
            </p>

          </div>
          <div class="col-12 col-md-4 text-center">
            
            <!-- Heading -->
            <h1 class="display-2 fw-bold text-primary-desat">
              <span data-toggle="countup" data-from="0" data-to="30" data-decimals="0" data-aos data-aos-id="countup:in">0</span> Minutes
            </h1>

            <!-- Text -->
            <p class="text-muted mb-0">
              Our average response time across all of our service offerings.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CTA
    ================================================== -->
    <section class="py-6 py-md-10 bg-gray-200 bg-between" style="background-image: url({{ site.site_cdn }}/assets/img/illustrations/illustration-1-cropped.png), url({{ site.site_cdn }}/assets/img/illustrations/illustration-3-cropped.png);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            
            <div class="card card-row shadow-light-lg">
			  <div class="row gx-0">
				<a class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(../assets/img/photos/photo-1.jpg);" href="#!">

				  <!-- Image (placeholder) -->
				  <img src="{{ site.site_cdn }}/assets/img/photos/photo-1.jpg" alt="Testimonials" class="img-fluid d-md-none invisible">

				  <!-- Shape -->
				  <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
					<svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/></svg>
				  </div>

				</a>
				<div class="col-12 col-md-6 order-md-1">

				  <!-- Body -->
				  <div class="card-body">
					<blockquote class="blockquote mb-0 text-center">
		  
					  <!-- Text -->
					  <p class="mb-5 mb-md-7">
						“Hands down the best decision our firm has made this year. Grove Technologies have been instrumental in restructuring our internal network and helped resolve a whole host of issues that have plagued our firm for years.”
					  </p>

					  <!-- Footer -->
					  <footer class="blockquote-footer">
						<span class="h6 text-uppercase">HapstakDemetriou+</span>
					  </footer>

					</blockquote>
				  </div>

				</div>

			  </div>
			</div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>



	
	
	{% include contact/contact-home.html %}
	
    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>