---
layout: default
title: "Connect with Grove Technologies with our iOS App"
type: App
description: "The Grove Support App for iOS and MacOS lets you open tickets, schedule appointments and more. If you need high quality MacOS or iOS support for your business or team give us a call!" 
keywords: "mac support dc, grove technologies support app, learn mac tricks, mac novices help, amazing mac tech, ios mac support app, mac support app, ios support app, it services, it consultant, managed services, managed it services, helpdesk support, it consulting companies,"
thumbnail: /assets/img/banner/app.png
image: /assets/img/banner/app.png
author: Jon Brown
ogtype: page
---  

    <!-- WELCOME
    ================================================== -->
    <section class="pt-9 pt-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-center justify-content-md-between">
          <div class="col-10 col-sm-8 col-md-6 order-md-2">
            
            <!-- iPhone + iPhone -->
            <div class="device-combo device-combo-iphonex-iphonex mb-6 mb-md-0 mt-8">
              
              <!-- iPhone -->
              <div class="device device-iphonex" data-aos="fade-left">
                <img src="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/2.png" class="device-screen" alt="Grove iOS App" style="width: calc(66% + 1%); margin-top: -1px !important;">
                <img src="{{ site.site_cdn }}/assets/img/devices/iphonex.svg" class="img-fluid" alt="Grove iOS App">
              </div>

              <!-- iPhone -->
              <div class="device device-iphonex" data-aos="fade-left" data-aos-delay="150">
                <img src="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/1.png" class="device-screen" alt="Grove iOS App" style="width: calc(66% + 1%); margin-top: 1px !important;">
                <img src="{{ site.site_cdn }}/assets/img/devices/iphonex.svg" class="img-fluid" alt="Grove iOS App">
              </div>
              
            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-5" data-aos="fade-right">
            
            <!-- Heading -->
            <h1 class="fw-bold">
              Introducing the <span class="text-primary">Grove Support App</span> for iOS & MacOS.
            </h1>
            
            <!-- Text -->
            <p class="font-size-lg text-muted mb-6">
              When you're on the go, amazing Mac tech support is only a click away. Anywhere in the world.
            </p>

           <!-- Buttons -->
            <a href="https://shine.grovedesigns.co/download.php?id=6" title="Pricing Options" class="btn btn-primary me-1 lift">
              MacOS App <i class="fe fe-arrow-right ms-3"></i>
            </a>
            <a href="https://itunes.apple.com/us/app/mac-support/id892102469?ls=1&mt=8" title="Grove MacOS & iOS Apps" class="btn btn-primary-soft lift">
              iOS App <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- ABOUT
    ================================================== -->
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-6 mb-5 mb-md-0">
        
            <!-- Images -->
            <div class="row">
              <div class="col-6 me-n5">
                
				<picture>
			  		<source srcset="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/4.webp" type="image/webp">
			  		<source srcset="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/4.png" type="image/png" class="img-fluid rounded"> 
			  		<img src="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/4.png" alt="Grove iOS App" class="img-fluid rounded">
				</picture>
				
              </div>
              <div class="col-6 mt-8">
                
                <picture>
			  		<source srcset="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/3.webp" type="image/webp">
			  		<source srcset="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/3.png" type="image/png" class="img-fluid rounded"> 
			  		<img src="{{ site.site_cdn }}/assets/img/screens/GrovesSupport/3.png" alt="Grove iOS App" class="img-fluid rounded">
				</picture>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-12 col-md-6 col-lg-5" data-aos="fade-left">
            
            <!-- Heading -->
            <h2 class="fw-bold">
              Open Tickets & Book Appointments
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-4">
				Open support cases right from within the app. Next-level support is always at your fingertips. You can book an appointment up to 60 days in advance within the app. We also handle emergency bookings and more.
            </p>

            <!-- Button -->
            <a href="https://itunes.apple.com/us/app/mac-support/id892102469?ls=1&mt=8" class="btn btn-primary">
              Download for iOS
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    <!-- ABOUT
    ================================================== -->
    <section class="pt-8 pt-md-0 mt-10 border-bottom bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">

                        
            <!-- Map -->
            <div class="position-relative h-100 vw-50 float-end d-none d-md-block bg-cover" style="background-image: url('{{ site.site_cdn }}/assets/img/screens/GrovesSupport/MacSupport.png'); background-position: top right;">

                            
              <!-- Shape -->
              <div class="shape shape-end shape-fluid-y svg-shim text-light">
                <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 386V0h100v1544H50v-386L0 386z" fill="currentColor"/></svg>
              </div>

            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-5 offset-lg-1 py-8 py-md-11 py-lg-12">
            
 			<!-- Heading -->
            <h2 class="fw-bold">
              Need Mac support? <br>Not anymore.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-4">
              The Grove Support App is a small App, created to share quick tips with Mac novices to help them learn some Mac tricks. You can also book appointments, open trouble tickets and get more information about our services.
            </p>
            
            <!-- Button -->
            <a href="https://shine.grovedesigns.co/download.php?id=6" class="btn btn-primary">
              Download for MacOS
            </a>

          

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
        

    {% include customer.html %}
    
    {% include contact/contact-home.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>