---
layout: default
title: "Stop getting BAD Mac Support from a PC MSP"
type: LocalBusiness
description: "We are the only Mac MSP in town that tells you upfront what our pricing in the interest of full 100% transparency. No one can touch our client experience!" 
keywords: " mac support dc, mac support pricing, mac msp pricing, save money pricing, voip sip pricing, mac support pricing, msp pricing, pricing plans you love, computer support pricing, support pricing plans, mac support services pricing, remote support monitored, systems multiple locations, locations remote support, multiple locations remote, deployed computers hardware, monthly reports send, fleet monthly reports, entire fleet monthly, picture entire fleet, entire picture entire, help entire picture, hardware help entire, computers hardware help"
thumbnail: /assets/img/banner/mac_msp.png
image: /assets/img/banner/mac_msp.png
author: Jon Brown
ogtype: page
---

    <!-- WELCOME
    ================================================== -->
    <section class="pt-5 pt-md-8 pb-7 pb-md-14 bg-primary">

      <!-- Shape -->
      <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
      </div>

      <!-- Content -->
      <div class="container mt-12">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">
            
            <!-- Heading -->
            <h1 class="display-2 text-white">
              Mac Support Pricing
            </h1>
            <h3 class="text-white mb-7">Our plans are unique. You don’t pay per seat. You only pay for the hours you need and ALL your employees can use them for technical support.</h3>

            <!-- Form -->
            <form class="d-flex align-items-center justify-content-center mb-7 mb-md-9">
                  
              <!-- Label -->
              <span class="text-white-80">
                Helpdesk Only
              </span>
              
              <!-- Switch -->
	            <div class="form-check form-check-dark form-switch mx-3">
				  <input class="form-check-input" type="checkbox" id="billingSwitch" data-toggle="price" data-target=".price" checked>
				  <label class="form-check-label" for="billingSwitch"></label>
				</div>
              
              <!-- Label -->
              <span class="text-white-80">
                Managed
              </span>

            </form>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- PRICING
    ================================================== -->
    <section class="mt-n8 mt-md-n14">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">

            <!-- Card -->
            <div class="card shadow-lg mb-6 mb-md-0">
              <div class="card-body">

                <!-- Preheading -->
                <div class="text-center mb-3">
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Starter</span>
                  </span>
                </div>

                <!-- Price -->
                <div class="d-flex justify-content-center mb-5">
                  <span class="h2 mb-0 mt-2">$</span>
                  <span class="price display-2 mb-0" data-annual="1900" data-monthly="3300">3,300</span>
                  <span class="h2 align-self-end mb-1">/mo</span>
                </div>

                <!-- Text -->
                <p class="text-center text-muted mb-5">
                  Includes simple but powerful support for up startups.
                </p>

                <!-- List -->
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    20 Hours Pooled Support
                  </p>
                  
                </div>
				<div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    1 Monitored System
                  </p>
                  
                </div>
               
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    8/5 Support
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    Security Awareness Training
                  </p>
                  
                </div>
                 <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    Up to 35 Users
                  </p>
                  
                </div>
                <!-- Button -->
                <a href="tel:+18882539103" class="btn d-block w-100 btn-primary-soft">
                  Call Today <i class="fe fe-arrow-right ms-3"></i>
                </a>
                
              </div>
            </div>

          </div>
          <div class="col-12 col-md-4">
            
            <!-- Card -->
            <div class="card shadow-lg mb-6 mb-md-0">
              <div class="card-body">

                <!-- Preheading -->
                <div class="text-center mb-3">
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Business</span>
                  </span>
                </div>

                <!-- Price -->
                <div class="d-flex justify-content-center mb-5">
                  <span class="h2 mb-0 mt-2">$</span>
                  <span class="price display-2 mb-0" data-annual="2700" data-monthly="4100">4,100</span>
                  <span class="h2 align-self-end mb-1">/mo</span>
                </div>

                <!-- Text -->
                <p class="text-center text-muted mb-5">
                  For cutting edge companies looking to stay competitive.
                </p>

                <!-- List -->
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    40 Hours Pooled Support
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    3 Monitored Systems
                  </p>
                  
                </div>
               
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    8/5 Remote support
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    Security Awareness Training
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    Up to 35 Users
                  </p>
                  
                </div>

                <!-- Button -->
                <a href="tel:+18882539103" class="btn d-block w-100 btn-primary">
                  Start with Business <i class="fe fe-arrow-right ms-3"></i>
                </a>
                
              </div>
            </div>

          </div>
          <div class="col-12 col-md-4">
            
            <!-- Card -->
            <div class="card shadow-lg mb-md-0">
              <div class="card-body">

                <!-- Preheading -->
                <div class="text-center mb-3">
                  <span class="badge rounded-pill bg-primary-soft">
                    <span class="h6 text-uppercase">Enterprise</span>
                  </span>
                </div>

                <!-- Price -->
                <div class="d-flex justify-content-center mb-5">
                  <span class="h2 mb-0 mt-2">$</span>
                  <span class="price display-2 mb-0" data-annual="3600" data-monthly="5000">5,000</span>
                  <span class="h2 align-self-end mb-1">/mo</span>
                </div>

                <!-- Text -->
                <p class="text-center text-muted mb-5">
                  Everything you can get from a our business solution and more.
                </p>

                <!-- List -->
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    60 Hours Pooled Support
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    4 Monitored Systems
                  </p>
                  
                </div>
              
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p>
                    8/7 Remote support
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    Security Awareness Training
                  </p>
                  
                </div>
                <div class="d-flex">
                  
                  <!-- Badge -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <i class="fe fe-check"></i>
                  </div>

                  <!-- Text -->
                  <p >
                    Up to 35 Users
                  </p>
                  
                </div>

                <!-- Button -->
                <a href="tel:+18882539103" class="btn d-block w-100 btn-primary-soft">
                  Call Today <i class="fe fe-arrow-right ms-3"></i>
                </a>
                
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

	{% include pricing/includes.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    {% include pricing/faq.html %}
    
    <!-- TESTIMONIALS
    ================================================== -->
    <section class="py-8 py-md-11">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-5">
            
            <!-- Blockquote -->
            <blockquote class="blockquote text-center">
              
              
             <!-- Logo -->
              <div class="img-fluid mb-5 mb-md-7 svg-shim mx-auto" style="max-width: 180px;">
				<img src="{{ site.site_cdn }}/assets/img/logos/companies/HD+_Logo.png" alt="HD+">
              </div>
              
              <!-- Text -->
              <p class="mb-5 mb-md-7">
                "Hands down the best decision our firm has made this year. Grove Technologies have been instrumental in restructuring our internal network and helped resolve a whole host of issues that have plagued our firm for years.”
              </p>


            </blockquote>

          </div>
          <div class="col-12 col-md-1 border-end my-n8 my-md-n11 d-none d-md-block"></div>
          <div class="col-12 col-md-5 offset-md-1">
            
            <!-- Blockquote -->
            <blockquote class="blockquote text-center">

              <!-- Logo -->
              <div class="img-fluid mb-5 mb-md-7 svg-shim mx-auto" style="max-width: 180px;">
                <img src="{{ site.site_cdn }}/assets/img/logos/companies/Illustria.png" alt="Illustria">
              </div>
              
              <!-- Text -->
              <p class="mb-5 mb-md-7">
                “Instead of saying "thats not possible" Grove ALWAYS found a solution to our problems that fit our needs and budget. They go above and beyond to ensure we are happy, taken care of, and operating efficiently.”
              </p>


            </blockquote>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    
	{% include contact/contact-home.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>