	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120080861-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-120080861-1');
	</script>
	<script type="text/javascript" src="//cdn.pushwoosh.com/webpush/v3/pushwoosh-web-notifications.js" async></script>
	<script type="text/javascript">
	var Pushwoosh = Pushwoosh || [];
	Pushwoosh.push(['init', {
		logLevel: 'info', // possible values: error, info, debug
		applicationCode: 'A35F6-C4EAE', // you application code from Pushwoosh Control Panel
		safariWebsitePushID: 'web.macgurus.site', //  unique reverse-domain string, obtained in you Apple Developer Portal. Only needed if you send push notifications to Safari browser
		defaultNotificationTitle: 'Grove Technologies', // sets a default title for push notifications
		defaultNotificationImage: 'https://grovetech.co/assets/img/favicons/android-chrome-192x192.png', // URL to custom custom notification image
		autoSubscribe: true, // or true. If true, prompts a user to subscribe for pushes upon SDK initialization
		subscribeWidget: {
		  enabled: true
		}									
	}]);
	</script>
	<script src="https://cdn.jsdelivr.net/npm/beerslider@1.0.3/dist/BeerSlider.min.js"></script>
	<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    
    <script src="{{ site.site_cdn }}/assets/js/theme.bundle.js"></script>
    <script src="{{ site.site_cdn }}/assets/js/vendor.bundle.js"></script>
    
	<script>
	window.cookieconsent.initialise({
	  "palette": {
		"popup": {
		  "background": "#efefef",
		  "text": "#404040"
		},
		"button": {
		  "background": "#8ec760",
		  "text": "#ffffff"
		}
	  },
	  "theme": "edgeless",
	  "type": "opt-out",
	  "content": {
		"href": "https://grovetech.co/privacy/"
	  }
	});
	</script>