{% include head/head.html %}
{% include nav.html %}



	<!-- WELCOME
    ================================================== -->
    <section class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover" style="background-image:url({{site.site_cdn}}/assets/img/covers/cover-16.jpg);">
      <div class="container mt-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">
            
            <!-- Heading -->
            <h1 class="display-2 text-white">
              Our Newsroom
            </h1>

            <!-- Text -->
            <p class="lead mb-0 text-white-75">
              Mac Support Tips & Tricks Blog
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- ARTICLES
    ================================================== -->
    <section class="pt-7 pt-md-10">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-md text-center">
            
            <!-- Heading -->
            <h2 class="mb-5">
             Tag: {{ page.tag }}
            </h2>


          </div>
        </div> <!-- / .row -->
        <div class="row">
    
		{% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}

          <div class="col-12 col-md-6 col-lg-4 d-flex mb-8">
            
            <!-- Card -->
            <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="{{ post.url | prepend: site.baseurl }}">

                <!-- Image -->
                <picture>
					<source srcset="{{ site.site_cdn }}{{ post.image }}" title="{{ post.title }}-Header" class="card-img-top" type="image/webp">
					<img class="card-img-top" src="{{ site.site_cdn }}{{ post.image }}" alt="{{ post.title }}-Header">
				</picture>
								
                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>
                  </div>
                </div>

              </a>

              <!-- Body -->
              <a class="card-body" href="{{ post.url | prepend: site.baseurl }}">

                <!-- Heading -->
                
                <h3>
                  {{ post.title }}
                </h3>
                

                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{ post.content | strip_html | truncatewords: 20 }}
                </p>

              </a>
                
              <!-- Meta -->
              <a class="card-meta mt-auto" href="{{ post.url | prepend: site.baseurl }}">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Avatar -->
                <div class="avatar avatar-sm me-2">
                
				  <picture>
					<source srcset="{{ site.site_cdn }}/assets/img/avatars/team/jon.jpg" title="{{ post.author }}" class="avatar-img rounded-circle" type="image/webp">
					<img class="avatar-img rounded-circle" src="{{ site.site_cdn }}/assets/img/avatars/team/jon.jpeg" alt="{{ post.author }}">
				  </picture>
									  			  
                </div>
                
                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  {% if post.author %}{{ post.author }} {% else %} Jon Brown {% endif %}
                </h6>
                
                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                </p>

              </a>

            </div>

          </div>
         
   {% endfor %}
   
   {% else %}
    
   {% endif %}

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    
    {% include customer.html %}
    
    {% include contact/contact-home.html %}

    <!-- SHAPE
    ================================================== -->
    <div class="position-relative mt-n16">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>
    

{% include footer.html %}
{% include scripts/scripts.html %}
</body>
</html>