<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="https://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name | xml_escape }}</title>
    <description>{{ site.description | xml_escape }}</description>
    <link>{{ site.site_cdn }}</link>
    <atom:link href="{{ site.site_cdn }}feed.xml" rel="self" type="application/rss+xml" />
    {% for post in site.posts limit:10 %}
    {% if post.incfeed %}
    
    {% else %}
    
      <item>
        <title>{{ post.title | xml_escape }}</title>
        <description>&lt;img src=&quot;{{ site.site_cdn }}{{ post.image }}&quot; class=&quot;aligncenter&quot; /&gt;&lt;br&gt;&lt;br&gt;{{ post.content | xml_escape }}</description>
        <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
        <link>{{ site.site_cdn }}{{ post.url }}</link>
        <guid isPermaLink="true">{{ site.site_cdn }}{{ post.url }}</guid>
      </item>
      {% endif %}
    {% endfor %}
  </channel>
</rss>